<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
		<sectionGroup name="paramount">
			<section name="services" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
			<section name="dsl" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="ConfigurationContext" value="localhost" />
		<add key="ApplicationName" value="ParamountServiceHost" />
		<add key="Domain" value="ParamountIt" />
		<add key="emailServer" value="smtp.gmail.com" />
	</appSettings>
	<connectionStrings>
		<add name="EntityConnection" connectionString="Data Source=paramountit.com.au;Initial Catalog=iFlogCore;User ID=sa;Password=rs-101" />
    <add name="MembershipConnection" connectionString="Data Source=paramountit.com.au;Initial Catalog=iFlogAppUser;User ID=sa;Password=rs-101" />
	</connectionStrings>

	<paramount>
		<services>
			<milieu context="localhost">
        <add key="ConnectionString" value="Data Source=paramountit.com.au;Initial Catalog=iFlogCore;User ID=sa;Password=rs-101" />
        <add key="EntityConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogCore;User ID=sa;Password=rs-101" />
        <add key="Betterclassifieds" value="Data Source=paramountit.com.au;Initial Catalog=iFlog;User ID=sa;Password=rs-101" />
				<add key="ParamountLogConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogLogs;User ID=sa;Password=rs-101" />
				<add key="AppUserConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogAppUser;User ID=sa;Password=rs-101" />
        <add key="ApplicationUserConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogAppUser;User ID=sa;Password=rs-101" />
        <add key="LogConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogLogs;User ID=sa;Password=rs-101" />
			</milieu>
		</services>
		<dsl>
			<miliue context="DEV">
				<add key="ConnectionString" value="Data Source=paramountit.com.au;Initial Catalog=iFlogCore;User ID=sa;Password=rs-101" />
				<add key="DefaultDslResolution" value="90" />
				<add key="ChunkLength" value="32768" />
				<add key="IsServerImageCaching" value="True" />
				<add key="ImageCacheDirectory" value="C:\Paramount\ImageCache\DEV" />
			</miliue>
		</dsl>
	</paramount>

	<system.web>
		<!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		
		<authentication mode="Windows" />
		
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm" />
		<membership defaultProvider="ParamountMembership">
			<providers>
				<clear />
				<add name="ParamountMembership" type="Paramount.ApplicationBlock.Membership.Providers.UserMembershipProvider,Paramount.ApplicationBlock.Membership" connectionStringName="EntityConnection" applicationName="ParamountMemberhip" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" passwordFormat="Encrypted" minRequiredPasswordLength="5" />
        <add name="InternalMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipConnection" applicationName="ParamountMemberhip" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" passwordFormat="Encrypted" minRequiredPasswordLength="5" />
				<add name="EntityMembership" type="Paramount.ApplicationBlock.Membership.Providers.EntityMembershipProvider,Paramount.ApplicationBlock.Membership" connectionStringName="EntityConnection" applicationName="ParamountIt" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" minRequiredPasswordLength="5" />
			</providers>
		</membership>
		<machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
		
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceHttpBinding">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
					<security mode="None">
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.BroadcastService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IBroadcastService" />
			</service>
			<service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.DslService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IDslService" />
			</service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.BannerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IBannerService" />
      </service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.EventService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IEventService" />
      </service>
			<service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.UserAccountWebService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IUserAccountWebService" />
			</service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.MembershipService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IMembershipService" />
      </service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.LogService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.ILogService" />
      </service>
			<service behaviorConfiguration="DefaultServiceBehaviour" name="System.Web.ApplicationServices.AuthenticationService">
				<endpoint binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200" contract="System.Web.ApplicationServices.AuthenticationService" />
			</service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.BillingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IBillingService" />
      </service>
      <service behaviorConfiguration="DefaultServiceBehaviour" name="Paramount.Services.BetterclassifiedService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ServiceHttpBinding" bindingName="serviceEndPoint" contract="Paramount.Common.ServiceContracts.IBetterclassifiedService" />
      </service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" />

	</system.serviceModel>
	<!-- Logging Configuration -->
	<system.net>
		<mailSettings>
      <smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>
		</mailSettings>
	</system.net>
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false" />
				<profileService enabled="true" readAccessProperties="FirstName,LastName,PhoneNumber" />
				<roleService enabled="true" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
