<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConfigurationContext" value="CI"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EntityConnection"
      connectionString="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=sa; Password=rs-101"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MembershipConnection"
      connectionString="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="CI">
        <add key="EntityConnection" value="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="Betterclassifieds" value="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="ParamountLogConnection" value="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="ApplicationUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="LogConnection" value="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=sa; Password=rs-101" />
      </milieu>
    </services>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
  
</configuration>