<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConfigurationContext" value="TEST"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EntityConnection"
      connectionString="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MembershipConnection"
      connectionString="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="TEST">
        <add key="EntityConnection" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ConnectionString" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="Betterclassifieds" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlog;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ParamountLogConnection" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="AppUserConnection" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ApplicationUserConnection" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="LogConnection" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      </milieu>
    </services>
    <dsl>
      <miliue>
        <add key="ConnectionString" value="Data Source=zk4osnt1ia.database.windows.net;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ChunkLength" value="32768" />
        <add key="IsServerImageCaching" value="True" />
        <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache\Test" />
      </miliue>
    </dsl>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
  
</configuration>