<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConfigurationContext" value="LIVE"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EntityConnection"
      connectionString="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountCore-v106;Persist Security Info=True; User ID=sa; Password=spress"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MembershipConnection"
      connectionString="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="LIVE">
        <add key="EntityConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountCore-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ConnectionString" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountCore-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="Betterclassifieds" value="Data Source=111.67.15.17;Initial Catalog=LIVE-iFlog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ParamountLogConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ApplicationUserConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="LogConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
      </milieu>
    </services>
    <dsl>
      <miliue>
        <add key="ConnectionString" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountCore-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ChunkLength" value="32768" />
        <add key="IsServerImageCaching" value="True" />
        <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache\LIVE" />
      </miliue>
    </dsl>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
  
</configuration>