<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConfigurationContext" value="TEST"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EntityConnection"
      connectionString="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="TEST">
        <add key="EntityConnection" value="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="Betterclassifieds" value="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="ApplicationUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      </milieu>
    </services>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Paramount\MailDrop\"/>
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>