<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <paypal>
    <settings>
      <add name="mode" value="#{PayPal.Mode}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
      <add name="clientId" value="#{PayPal.ClientId}"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
      <add name="clientSecret" value="#{PayPal.Secret}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
      <add name="endpoint" value="#{PayPal.Endpoint}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    </settings>
  </paypal>
  

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"></customErrors>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>