<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <paypal>
    <settings>
      <add name="mode" value="live" xdt:Transform="SetAttributes(value)" />
      <add name="clientId" value="ATmSURAzXe5rkt2DqTBTSMyt1igpessUEQ18UwuYUfOy6vG7Teet9q7JN6y5"  xdt:Transform="SetAttributes(value)"/>
      <add name="clientSecret" value="EErz7hDm8cjBog9HGwSAIHx3_pJQNzq0ePJETtlm1hTdo7-TdDwb_Fu6ihG0" xdt:Transform="SetAttributes(value)"/>
      <add name="endpoint" value="api.paypal.com" xdt:Transform="SetAttributes(value)"  />
    </settings>
  </paypal>
  

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"></customErrors>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>