<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ClassifiedConnection" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" />
    <add name="AppUserConnection" connectionString="Data Source=localhost;Initial Catalog=AppUser;Integrated Security=True" />
    <add name="DocumentConnection" connectionString="Data Source=localhost;Initial Catalog=DocumentStorage;Integrated Security=True" />
    <add name="EventsConnection" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" />
  </connectionStrings>

  <!--Production configuration-->
  <!--<connectionStrings>
    <add name="ClassifiedConnection" connectionString="Data Source=kandobay.com.au;Initial Catalog=Kandobay_Production_Classifieds;User Id=sa; Password=rs-101" />
    <add name="AppUserConnection" connectionString="Data Source=kandobay.com.au;Initial Catalog=Kandobay_Production_AppUser;User Id=sa; Password=rs-101" />
    <add name="DocumentConnection" connectionString="Data Source=kandobay.com.au;Initial Catalog=Kandobay_Production_DocumentStorage;User Id=sa; Password=rs-101" />
    <add name="EventsConnection" connectionString="Data Source=kandobay.com.au;Initial Catalog=Kandobay_Production_Classifieds;User Id=sa; Password=rs-101" />
  </connectionStrings>-->

  <appSettings>
    <add key="ApplicationName" value="Betterclassifieds" />
    <add key="Brand" value="SriLankanEvents" />
    <add key="BaseUrl" value="http://betterclassifieds.local" />
    <add key="Version" value="local" />
    <add key="Environment" value="DEV" />
    <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
    <add key="ImageCropDirectory" value="C:\Paramount\ImageCrop\" />
    <add key="MaxImageUploadBytes" value="5000000" />
    <add key="AcceptedFileTypes" value="image/jpeg|image/png|image/gif" />
    <add key="GoogleTrackingId" value="UA-19118426-6" />
    <add key="GoogleTimezoneApiUrl" value="https://maps.googleapis.com/maps/api/" />
    <add key="GoogleTimezoneApiKey" value="AIzaSyBKrlWK9lGZBmkeHoPHAXHa1YjY_pd_z3I" />
    <add key="GoogleRecaptcha.IsEnabled" value="true" />
    <add key="GoogleRecaptcha.Registration" value="6LeSvyYUAAAAAIJHr0mhQW_6MJzUtaFGXp7PcguA:6LeSvyYUAAAAABm0Sz4Bm9qsQcrcwa-IfHdTQSsz"/>
    <add key="GoogleRecaptcha.GeneralEnquiry" value="6LfnIicUAAAAAH7zZIdHKpUXtt5UNddBDJ8G1PLA:6LfnIicUAAAAAEOti9vV5aZoVIs0q_ZqJDy7ZhGI"/>
    <add key="StripeApiKey" value="sk_test_5f2Omvc7oXKyO8eIiZ3VAKKw" />
    <add key="StripePublishableKey" value="pk_test_9lOtEgQezaX12MQN3EnHggB7" />
    <add key="Logentries.Token" value="dba5ee57-d278-4ddf-91ad-737850e6e482" />
    <add key="Mailgun.BaseUrl" value="https://api.mailgun.net/v3/" />
    <add key="Mailgun.Domain" value="sandbox2d5d63f680e2415bba428d6628aaa9d0.mailgun.org" />
    <add key="Mailgun.ApiKey" value="key-518e9736ee87c705773eaa1a967778da" />
    <add key="vs:EnableBrowserLink" value="false"></add>
    
    <!--Asp.Net settings-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AR-5Wv78_gZMWhU-1pTcZTnRrKwucrlxURaFYmkRnyRpJ5hOI8cIPw5xzOwsoAjlv3uQexcTR_Rc-hR3" />
      <add name="clientSecret" value="EI8x0rCvb5b2xBc2pf6_SSH_d3TPF-edc7LmjzqRrINMdpQ0zvKokiOsy7ZdVY-mRic_ojlEa33LnzvX" />
      <add name="endpoint" value="https://api.sandbox.paypal.com" />
    </settings>
  </paypal>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <globalization culture="en-AU" uiCulture="en-AU" />
    <customErrors mode="Off" defaultRedirect="~/Error/ServerProblem">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerProblem" />
    </customErrors>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" enableVersionHeader="false" />
    <sessionState timeout="62" mode="InProc" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Account/Login" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <roleManager cacheRolesInCookie="true" defaultProvider="AppUserRoleProvider">
      <providers>
        <clear />
        <add name="AppUserRoleProvider" connectionStringName="AppUserConnection" applicationName="BetterClassified" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership defaultProvider="AppUserProvider">
      <providers>
        <clear />
        <add name="AppUserProvider" type="Paramount.Betterclassifieds.Security.ClassifiedSqlMembershipProvider, Paramount.Betterclassifieds.Security, Version=1.0.0.0, Culture=neutral" connectionStringName="AppUserConnection" applicationName="BetterClassified" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10" passwordAttemptWindow="20" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" passwordFormat="Encrypted" minRequiredPasswordLength="1" />
      </providers>
    </membership>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
    
  </system.web>
  <system.webServer>
    

    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="x-frame-options" value="DENY" />
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--Entity Framework-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Mail Settings-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Paramount\MailDrop\" />
      </smtp>
      <!--<smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>-->
    </mailSettings>
  </system.net>
  
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Application.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %aspnet-request{ASP.NET_SessionId} %aspnet-request{AUTH_USER} ClientIpAddress='%aspnet-request{REMOTE_ADDR}' %newline%message%newline" />
      </layout>
    </appender>

    <appender name="LeAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
      <immediateFlush value="true" />
      <debug value="true" />
      <useHttpPut value="false" />
      <useSsl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- The below pattern has been carefully formatted and optimized to work well with the Logentries.com entry parser. For reference see https://logentries.com/doc/search/. -->
        <param name="ConversionPattern" value="%date %level% %m%nSessionId='%aspnet-request{ASP.NET_SessionId}'; Username='%aspnet-request{AUTH_USER}'; ClientIpAddress='%aspnet-request{REMOTE_ADDR}'; ClientUserAgent='%aspnet-request{HTTP_USER_AGENT}'; ServerName='%aspnet-request{SERVER_NAME}'; RequestMethod='%aspnet-request{REQUEST_METHOD}'; RequestUrl='%aspnet-request{URL}'; RequestQueryString='%aspnet-request{QUERY_STRING}'; RequestCookies='%aspnet-request{HTTP_COOKIE}';%n" />
      </layout>
    </appender>


    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="LeAppender" />
    </root>

  </log4net>
</configuration>