@model AddEventGuestViewModel

@{
    ViewBag.Title = "Add Guest Manually to your event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());
        $(function() {
            $paramount.ui.addGuest.init(model);
        });
    </script>
}

<div class="container top-buffer-60 add-guest-view">

    <h1 class="page-header">Add Guest</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group-lg" data-bind="validationElement: guestFullName">
                <label for="guestFullName" class="control-label">Full Name:</label>
                <input id="guestFullName" data-bind="value: guestFullName" type="text" class="form-control" />
            </div>

            <div class="form-group-lg" data-bind="validationElement: guestEmail">
                <label for="guestEmail" class="control-label">Email *:</label>
                <input id="guestEmail" data-bind="value: guestEmail" type="text" class="form-control" />
            </div>

            <div class="form-group-lg">
                <label class="control-label">Ticket *:</label>
                <select class="form-control" id="tickets"
                        data-bind="options: tickets, optionsText: 'ticketName', value: selectedTicket,  event:{ change: ticketChanged}"></select>
                <p class="help-block">
                    <span data-bind="text: selectedTicket().ticketName"></span>
                    has <span data-bind="text: selectedTicket().remainingQuantity"></span> remaining tickets.
                </p>
            </div>

            <div data-bind="foreach: ticketFields">
                <div class="control-group  input-group-lg" data-bind="validationElement: fieldValue">
                    <label class="control-label" data-bind="text: fieldName"></label>
                    <span data-bind="visible: isRequired">*</span>
                    <input type="text" data-bind="value: fieldValue" class="form-control" />
                </div>
            </div> 

            <div class="control-group">
                <label class="control-label">Send Email with Tickets</label>
                <div>
                    <input type="checkbox" data-bind="toggle: sendEmailToGuest" data-on="Send Email" data-off="Don't Email" data-onstyle="success" />
                </div>
            </div>

            <div class="text-right" data-bind="visible: !saved()">
                <a href="@Url.EventDashboard(Model.Id.GetValueOrDefault())" class="btn btn-default js-load">Back to dashboard</a> &nbsp;
                <button id="btnAddGuest" class="btn btn-primary" data-bind="click: submitGuest">Submit</button>
            </div>

            <div class="row top-buffer-20" data-bind="visible:saved">
                <div class="col-xs-12">

                    <div class="alert alert-success" id="guestAddedSuccessfully">
                        Guest has been added successfully.
                    </div>
                    <div class="text-right">
                        <a class="btn btn-default js-load" href="@Url.EventDashboard(Model.Id.GetValueOrDefault())">Back to Dashboard</a>
                        <button class="btn btn-primary" data-bind="click: addAnother"><i class="fa fa-user-plus"></i>Add another guest</button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6">
            <p>
                <div class="alert alert-info-alt">
                    Do you have a guest that wants to pay you directly? No problem!
                    Manually adding a guest would indicate a zero transaction fee.
                </div>
            </p>
        </div>

    </div>

</div>