@model AddEventGuestViewModel

@{
    ViewBag.Title = "Add Guest Manually to your event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());
        $(function() {
            $paramount.ui.addGuest.init(model);
        });
    </script>
}

<div class="container top-buffer-60 add-guest-view">

    <h1 class="page-header">Add Guest</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                Adding a guest here will mean that an offline payment will be organised
                and <a href="@Url.EventPricing()">transaction fees</a> are not applicable.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-8 col-sm-4 col-md-3">
            <a class="btn btn-default btn-block js-load" href="@Url.ManageGuests(Model.Id.GetValueOrDefault(), Model.EventId.GetValueOrDefault())">
                <i class="fa fa-arrow-circle-left"></i> Guests
            </a>
        </div>
    </div>


    <!-- ko if: tickets().length <= 0 -->
    <div class="row top-buffer-20">
        <div class="col-xs-12">
            <div class="alert alert-warning">You will need to create some tickets so you can assign them to your guests...</div>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-primary js-load"
               href="@Url.EventTicketManagement(Model.Id.Value, Model.EventId.Value)">
                Go to ticket management
            </a>
        </div>
    </div>

    <!-- /ko -->
    <!-- ko if: tickets().length > 0 -->
    <div class="row top-buffer-20">

        <div class="col-md-12">
            <div class="well">

                <div class="form-group" data-bind="validationElement: guestFullName">
                    <label for="guestFullName" class="control-label">Full Name:</label>
                    <input id="guestFullName" data-bind="value: guestFullName" type="text" class="form-control" />
                </div>

                <div class="form-group" data-bind="validationElement: guestEmail">
                    <label for="guestEmail" class="control-label">Email *:</label>
                    <input id="guestEmail" data-bind="value: guestEmail" type="text" class="form-control" />
                </div>

                <div class="form-group" data-bind="visible: displayGuests">
                    <label class="control-label">Privacy</label> <br />
                    <input type="checkbox" data-bind="toggle: isPublic" data-onstyle="success" data-on="Public" data-off="Private" />
                    <span class="help-block">
                        Displaying guests is turned on. If Public selected, then anyone can see this guest coming to the event.
                    </span>
                </div>

                @*Seat Number*@
                <div class="form-group" data-bind="visible: isSeatedEvent">
                    <label class="control-label">Seat Number</label>
                    <input type="text" data-bind="typeahead: seats, value: seatNumber, onItemSelected: seatSelected" class="form-control" autocomplete="off" />
                    <p class="help-block">
                        Start typing a seat number.
                    </p>
                </div>

                @*Ticket*@
                <div class="form-group" data-bind="visible: selectedTicket() !== undefined">
                    <label class="control-label">Ticket *:</label>
                    @if (!Model.IsSeatedEvent)
                    {
                        <select class="form-control" id="tickets"
                                data-bind="options: tickets, optionsText: 'ticketName', value: selectedTicket,  event:{ change: ticketChanged}"></select>
                    }
                    <p class="help-block">
                        <span data-bind="text: getSelectedTicketName" class="badge"></span>
                        has <span data-bind="text: getSelectedTicketRemainingCount"></span> remaining tickets.
                    </p>
                </div>

                @*Dynamic fields*@
                <div data-bind="foreach: ticketFields">
                    <div class="control-group  input-group-lg" data-bind="validationElement: fieldValue">
                        <label class="control-label" data-bind="text: fieldName"></label>
                        <span data-bind="visible: isRequired">*</span>
                        <input type="text" data-bind="value: fieldValue" class="form-control" />
                    </div>
                </div>

                @*Groups (if any)*@
                <div data-bind="visible: hasGroups">
                    <div class="form-group">
                        <label class="control-label">Group</label>
                        <select class="form-control" id="groups"
                                data-bind="options: eventGroups, optionsText: 'groupName', value: selectedGroup, optionsCaption: 'Un-Assigned'"></select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Send Email with Tickets</label>
                    <div>
                        <input type="checkbox" data-bind="toggle: sendEmailToGuest" data-on="Send Email" data-off="Don't Email" data-onstyle="success" />
                    </div>
                </div>

                <div class="alert alert-danger top-buffer-20" data-bind="text: guestAddWarning, visible: guestAddWarning().length > 0">

                </div>

                <div class="text-right" data-bind="visible: !saved()">
                    <button id="btnAddGuest" class="btn btn-success" data-bind="click: submitGuest" data-loading-text="Please Wait...">
                        Submit <i class="fa fa-save"></i>
                    </button>
                </div>

                <div class="row top-buffer-20" data-bind="visible:saved">
                    <div class="col-xs-12">

                        <div class="alert alert-success" id="guestAddedSuccessfully">
                            Guest has been added successfully.
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" data-bind="click: addAnother"><i class="fa fa-user-plus"></i>Add another guest</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /ko -->

</div>