@model EditGuestViewModel

@{
    ViewBag.Title = "Edit Guest";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        var data = @Html.Raw(Model.ToJsonString());

        $(function() {
            var vm = new $paramount.models.EditGuest(data);
            ko.applyBindings(vm, document.getElementsByClassName('edit-guest-view')[0]);
        });

    </script>
}

<div class="container top-buffer-60 edit-guest-view">
    <h1 class="page-header">Edit guest information</h1>

    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-8 col-sm-4 col-md-3">
            <a class="btn btn-default btn-block js-load" href="@Url.EventDashboard(Model.AdId)">
                <i class="fa fa-arrow-circle-left"></i> Event Dashboard
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group-lg" data-bind="validationElement: guestFullName">
                <label for="guestFullName" class="control-label">Full Name:</label>
                <input id="guestFullName" data-bind="value: guestFullName" type="text" class="form-control" />
            </div>

            <div class="form-group-lg" data-bind="validationElement: guestEmail">
                <label for="guestEmail" class="control-label">Email *:</label>
                <input id="guestEmail" data-bind="value: guestEmail" type="text" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row top-buffer-20" data-bind="visible: fields().length> 0">
        <div class="col-md-12">
            <h4 class="page-header">
                Additional Fields
            </h4>
            <!-- ko foreach: fields -->

            <div class="form-group-lg" data-bind="validationElement: fieldValue">
                <label class="control-label" data-bind="text: fieldName"></label>
                <span data-bind="visible: isRequired">*</span>
                <input type="text" data-bind="value: fieldValue" class="form-control" />
            </div>

            <!-- /ko -->
        </div>
    </div>

    @*<div class="row top-buffer-20">
        <div class="col-md-12" data-bind="visible: isEmailDifferent">
            <div class="alert alert-warning">
                The email is different to the original. You may want to resend the tickets to the new recipient.
            </div>
        </div>

    </div>*@

    <div class="row top-buffer-20">
        <div class="col-sm-offset-10 col-sm-2">
            <button class="btn btn-block btn-success" data-bind="click: save" data-loading-text="Please Wait...">
                Save <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</div>
