@model EventDashboardViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
    ViewBag.Title = "Manage my Ads";
}

@section Scripts{
    <script>
        $(function() {
            var eventDashboardViewModel = @Html.Raw(Model.ToJsonString());
            $paramount.ui.eventDashboard.init(eventDashboardViewModel);
        });

    </script>
}

<div class="event-dashboard">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_UserMenu")
        </div>
    </div>

    <h2 class="page-header">
        Event Dashboard
    </h2>

    <div class="row statistics">
        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-bar-chart fa-4x pull-left"></i>
                <small>
                    Total Ticket Sales
                </small>
                <h4>
                    <span data-bind="text: totalSoldAmountFormatted"></span>
                </h4>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-user fa-4x pull-left"></i>
                <small>
                    Guest Count
                </small>
                <h4><span data-bind="text: totalSoldQty"></span></h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">

            <div class="stat">
                <canvas id="ticketSalesChart"></canvas>

                <small>
                    Sold / Remaining
                </small>
                <h4>
                    <span data-bind="text: totalSoldQty"></span> /
                    <span data-bind="text: totalRemainingQty"></span>
                </h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-eye fa-4x pull-left"></i>
                <small>
                    Page Views
                </small>
                <h4><span data-bind="text: pageViews"></span></h4>
            </div>
        </div>

    </div>

    <div class="row">

        @*Ticketing*@
        <div class="col-md-6">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-ticket"></i>&nbsp; Ticketing</h4>
                <p>Manage your ticket types here...</p>
            </div>

            <div class="row" data-bind="foreach: tickets">
                <div class="col-md-12">
                    <div class="panel panel-default event-ticket-panel" data-bind="css : {'panel-danger' : soldOut }">
                        <div class="panel-heading">
                            <div class="pull-left form-inline">
                                <span data-bind="text: ticketName"></span>
                                <span data-bind="text: priceFormatted"></span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default" data-bind="click: enableEdit, visible : editMode() === false"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <h4>Tickets Sold</h4>
                                    <span class="badge" data-bind="text: soldQuantity"></span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <h4>Remaining Qty</h4>
                                    <span class="badge" data-bind="text: remainingQuantity"></span>
                                </div>
                            </div>
                            <div class="row" data-bind="visible: editMode">
                                <div class="col-md-12">
                                    <div class="form-group-lg" data-bind="validationElement: ticketName">
                                        <label class="control-label">Name</label>
                                        <input class="form-control" type="text" data-bind="value: ticketName" />
                                    </div>
                                    <div class="form-group-lg" data-bind="validationElement: price">
                                        <label class="control-label">Price</label>
                                        <input class="form-control" type="number" data-bind="value: price" />
                                    </div>
                                    <div class="form-group-lg" data-bind="validationElement: remainingQuantity">
                                        <label class="control-label">Quantity</label>
                                        <input class="form-control" type="number" data-bind="value: remainingQuantity" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" data-bind="visible: editMode">
                            <div class="pull-right">
                                <button class="btn btn-success" data-bind="click: saveTicketDetails, css : { 'disabled' : validator.isValid() === false }" data-loading-text="Saving..."><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button class="btn btn-primary" data-bind="click: addTicketType"><i class="fa fa-plus"></i> Add Ticket Type</button>
            </div>

        </div>


        @*Guest list*@
        <div class="col-md-6">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-users"></i>&nbsp; Guest List</h4>
                <p>Check out who is coming to the event...</p>
            </div>

            
            <ul class="list-group" data-bind="foreach: guests">
                <li class="list-group-item">
                    <i class="fa fa-user"></i>&nbsp;
                    <span data-bind="text: guestFullName"></span>
                    &lt;<span data-bind="text: guestEmail"></span>&gt;
                </li>
            </ul>
        </div>
    </div>
</div>