@using Paramount
@model EventViewModel

@{
    ViewBag.Title = "Edit event details";
    Layout = "~/Views/shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        $(function() {
            var data = @Html.Raw(Model.ToJsonString());
        });
    </script>
}

<div class="container top-buffer-60">
    <h2 class="page-header">
        Update event details
    </h2>

    @if (Model.CanEdit)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group-lg">
                    <label>Event Name</label>
                    <input type="text" class="form-control input-lg" maxlength="100"
                           data-bind="value: title" />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    <i class="fa fa-stop"></i>
                    Editing is not available for events that have tickets booked.
                    <a href="@Url.EventDashboard(Model.AdId)">
                        Go to event dashboard
                    </a>
                </div>
            </div>
        </div>

    }
</div>