@model ManageTicketsViewModel

@{
    ViewBag.Title = "Manage ticketing for Event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
    <script>
        $(function() {
            var data = @Html.Raw(Model.ToJsonString());
            var vm = new $paramount.models.ManageTickets(data);
            var rootNode = document.getElementById('manageTickets');
            ko.applyBindings(vm, rootNode);
        });
    </script>
}

<div class="container event-ticketing" id="manageTickets">
    <div class="row top-buffer-60">
        <div class="col-xs-12">
            <h2 class="page-header">Event Ticketing</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-offset-6 col-sm-3">
            <a href="@Url.EventDashboard(Model.Id)" class="btn btn-default btn-block js-load">
                <i class="fa fa-arrow-circle-left"></i> Event Dashboard
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <button id="btnCreateTicket" class="btn btn-primary btn-block" data-bind="click: startNewTicket">
                New Ticket <i class="fa fa-plus-circle"></i>
            </button>
        </div>
    </div>

    <div class="row top-buffer-20" data-bind="bounceInDown: isCreateEnabled">
        <div class="col-md-offset-2 col-md-8">
            <div class="well">
                <h3>Ticket Details</h3>

                <div class="row">
                    <div class="col-xs-12 form-group-lg" data-bind="validationElement: newTicket().ticketName">
                        <label class="control-label">Ticket Name</label>
                        <input type="text" class="form-control" data-bind="value: newTicket().ticketName" />
                    </div>
                    <div class="col-xs-12 form-group-lg" data-bind="validationElement: newTicket().price">
                        <label class="control-label">Price</label>
                        <input type="number" class="form-control" data-bind="value: newTicket().price" />
                    </div>
                    <div class="col-xs-12 form-group-lg" data-bind="validationElement: newTicket().availableQuantity">
                        <label class="control-label">Quantity</label>
                        <input type="number" class="form-control" data-bind="value: newTicket().availableQuantity" />
                    </div>
                </div>
                <div class="row top-buffer-10">
                    <div class="col-xs-12">
                        <div class="alert alert-info-alt">
                            Fields allow your to capture information about each guest.
                        </div>
                    </div>
                    <div class="col-xs-12" data-bind="foreach: newTicket().eventTicketFields">

                        <div class="panel panel-default">
                            <div class="panel-body ticket-field-edit">
                                <div class="form-group-lg" data-bind="validationElement: fieldName">
                                    <label class="control-label">
                                        Field Name
                                    </label>
                                    <input type="text" data-bind="value: fieldName" class="form-control" placeholder="e.g. Age" />
                                    <div class="alert alert-warning" data-bind="visible: showFieldNameWarning">
                                        Note: Guest name and email are already included.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group-lg">
                                        <label class="control-label">Required</label>
                                        <div class="display-block toggle-required">
                                            <input type="checkbox" data-bind="toggle: isRequired" data-on="Yes" data-off="No" />
                                        </div>
                                    </div>
                                    <div class="col-xs-offset-3 col-xs-3 form-group-lg">
                                        <label class="control-label">Remove</label>
                                        <div>
                                            <button class="btn btn-block btn-default" data-bind="click: $parent.removeField">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-offset-6 col-xs-6 col-sm-offset-9 col-sm-3">
                        <button class="btn btn-default btn-block" data-bind="click: newTicket().addField">
                            Add Field <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>

                <div id="serverValidation" style="display: none">
                    <div class="alert alert-danger"></div>
                </div>

                <div class="row top-buffer-10">
                    <div class="col-xs-6 col-sm-3">
                        <button class="btn btn-default btn-block" data-bind="click: cancelNewTicket">
                            Cancel <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-offset-6 col-sm-3">
                        <button class="btn btn-primary btn-block" data-bind="click: createNewTicket" data-loading-text="Please Wait...">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-cog"></i> Settings
                </div>

                <div class="panel-body">
                    <h3>Transaction Fee</h3>
                    <p>
                        Do you want the customer to pay the transaction fee?
                    </p>
                    <input type="checkbox" data-bind="toggle: includeTransactionFee"
                           data-on="Yes"
                           data-off="No, I will"/>

                    <p class="help-block">
                        Fees won't be displayed to the ticket purchasers until checkout. <a href="@Url.EventPricing()" target="_blank">Click here for more info</a>
                    </p>
                </div>

                <div class="panel-footer text-right">
                    <button class="btn btn-primary" data-bind="click: updateTicketSettings" data-loading-text="Please wait...">
                        Save <i class="fa fa-floppy-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Tickets</h3>
        </div>
        @*List of current Tickets*@
        <!-- ko foreach: tickets -->
        <div class="col-xs-12 col-lg-6 top-buffer-20">
            <div class="panel panel-default event-ticket-panel" data-bind="css : {'panel-danger' : soldOut }">
                <div class="panel-heading">
                    <h4>
                        <span data-bind="text: ticketName"></span>
                        <span data-bind="text: priceFormatted"></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <h4>Tickets Sold</h4>
                            <span class="badge" data-bind="text: soldQuantity"></span>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h4>Remaining Qty</h4>
                            <span class="badge" data-bind="text: remainingQuantity"></span>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right">
                    <a class="btn btn-link" data-bind="attr : {href : editTicketUrl}">Edit</a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

</div>
