@model EventEditViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
    ViewBag.Title = "Manage my Ads";
}

@section Scripts{
    <script>
        $(function() {
            var eventEditViewModel = @Html.Raw(Model.ToJsonString());
            $paramount.ui.editEvent.init(eventEditViewModel);
        });

        var ctx = document.getElementsByClassName("chart")[0].getContext("2d");
        var theChart = new Chart(ctx).Doughnut([
                {
                    value: 300,
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Red"
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Green"
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Yellow"
                }
        ]
        );
    </script>
}

<div class="event-ticket-management">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_UserMenu")
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
                <i class="fa fa-ticket"></i>&nbsp;Ticketing
            </h2>

            <canvas class="chart" width="100px" height="100px"></canvas>

            <div data-bind="foreach: tickets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h4>
                                <span data-bind="text: ticketName"></span> &nbsp;
                                <span data-bind="text: priceFormatted"></span>
                            </h4>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="fa fa-pencil"></i>&nbsp; Rename</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i> &nbsp; Adjust Remaining Tickets</a></li>
                                    <li><a href="#"><i class="fa fa-dollar"></i>&nbsp; Price Change</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-minus-square"></i>&nbsp; Mark as Sold Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <h4>Tickets Sold</h4>
                                <span class="badge" data-bind="text: soldQuantity"></span>
                            </div>
                            <div class="col-xs-6 text-center">
                                <h4>Remaining Qty</h4>
                                <span class="badge" data-bind="text: remainingQuantity"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-primary">Add Ticket Type</button>
            </div>

        </div>
    </div>
</div>