@using Paramount
@{
    ViewBag.Title = "Edit event details";
    Layout = "~/Views/shared/_ApplicationLayout.cshtml";
    var adId = (int)ViewBag.Id;
}

@section Scripts{
    <script>
        $paramount.ui.eventEditor.init({
            maxFreeImages: 5,
            configDurationDays: 60,
            adDesignService: new $paramount.AdDesignService('@ViewBag.Id'),
            notifyUpdate: true,
            adStartRequired: true
        });
    </script>
}

<div class="container top-buffer-60 event-editor" id="eventEditor">

    <h2 class="page-header">
        Update event details
    </h2>

    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-8 col-sm-4 col-md-3">
            <a class="btn btn-default btn-block js-load" href="@Url.EventDashboard(@adId)">
                <i class="fa fa-arrow-circle-left"></i> Back to Dashboard
            </a>
        </div>
    </div>

    @*Event Details*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-list"></i> &nbsp; Event Details</h4>
            </div>

            <div class="form-group-lg" data-bind="validationElement: title">
                <label for="Title" class="control-label">Event Name *</label>
                <input type="text" class="form-control" id="Title" name="Title" placeholder="Provide a short impact title"
                       data-bind="value: title, valueUpdate: 'keyup'"
                       maxlength="100" />

                <span class="help-block">
                    * Remaining characters : <span data-bind="text: titleRemaining"></span>
                </span>
            </div>

            <div class="form-group" data-bind="validationElement: description">
                <label class="control-label" for="Description">Details *</label>
                <textarea class="form-control input-lg" id="Description" name="Description" rows="5" placeholder="What's the event about? Who will be there?"
                          data-bind="value: description"></textarea>
            </div>
        </div>

        @*Photo*@
        <div class="col-xs-12">

            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-photo"></i>&nbsp; Event Artwork</h4>
                <input id="eventPhoto" type="hidden" name="eventPhoto" data-bind="value: eventPhoto" />
                <span class="btn btn-success fileinput-button pull-right">
                    <i class="fa fa-upload"></i>
                    <span>Upload Photo</span>
                    <input id="eventPhotoUpload" type="file" name="files[]" multiple>
                </span>
            </div>

            <div class="well photo-upload">
                <p>
                    Note: This will be used as a background image and should be a high quality photo
                </p>
                <div class="photo text-center">
                    <i class="fa fa-picture-o fa-5x" data-bind="visible: eventPhoto() === null"></i>
                    <div class="thumbnail" data-bind="visible: eventPhoto() !== null">
                        <img data-bind="visible: eventPhoto() !== null, attr: {src: eventPhotoUrl }" />
                        <div class="caption">
                            <a class="btn btn-warning btn-remove" title="Remove" data-bind="click: removeEventPhoto">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="eventPhotoUploadProgress" class="progress progress-striped active">
                <div class="progress-bar active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span>Uploading...</span>
                </div>
            </div>
            <div class="alert alert-danger" data-bind="visible: eventPhotoUploadError() !== null, text: eventPhotoUploadError"></div>
        </div>

    </div>


    @*Location*@
    <div class="row">

        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-map-marker"></i> &nbsp;Location</h4>
                @*<p>Tell your visitors the location and what's the event about.</p>*@
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group-lg">
                <label class="control-label">Venue Name (optional)</label>
                <input type="text" maxlength="100" class="form-control" data-bind="value: venueName" />
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group-lg" data-bind="validationElement: location">
                <label class="control-label">Address *</label>
                <input type="text" class="form-control"
                       id="Location" name="Location"
                       placeholder="Type address, and google should find it!"
                       maxlength="200"
                       data-bind="googleMap: location, mapElement : '#LocationMap'" />
                <span class="help-block">
                    Please ensure that your address is displayed on the map before submitting.
                </span>
                <input type="hidden" name="LocationLatitude" data-bind="value: locationLatitude" />
                <input type="hidden" name="LocationLongitude" data-bind="value: locationLongitude" />
            </div>
        </div>

        @*Div to display the map using google maps*@
        <div class="col-xs-12">
            @*<div class="well" style="min-height: 200px" id="LocationMap"></div>*@
        </div>

        @*Location (venue) floor map*@
        <div class="col-xs-12">
            <div class="form-group-lg">
                <label class="control-label">&nbsp; Floor Plan</label>
                <input type="hidden" data-bind="value: locationFloorPlanDocumentId" />

                <div class="well text-center">
                    <i class="fa fa-map-o"></i>&nbsp; Upload a floor plan of your venue
                    to provide more information to users while they book your tickets.
                    Image or PDF is accepted.
                    <div class="top-buffer-20">
                        <h3>
                            <span class="label label-info" data-bind="text: locationFloorPlanFilename()"></span>
                        </h3>
                        <span class="btn btn-success fileinput-button">
                            <i class="fa fa-upload"></i>&nbsp; Upload floor plan
                            <input id="locationFloorUpload" type="file" name="files[]" multiple>
                        </span>
                        <div id="locationFloorUploadProgress" class="progress progress-striped active">
                            <div class="progress-bar active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span>Uploading...</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Schedule Start*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-clock-o"></i> &nbsp; Event Schedule</h4>
                <p>Dates are local to the event location? Click on the text box to see the calendar and time selectors.</p>
            </div>

        </div>
    </div>


    @*Event start and End Date*@
    <div class="row">
        <div class="col-sm-6">


            <div class="form-group-lg" data-bind="validationElement: eventStartDate">

                <label for="EventStartDate" class="control-label">Start Date *</label>
                <input type="text" class="form-control"
                       id="EventStartDate"
                       name="EventStartDate"
                       data-bind="datetime: eventStartDate" />
            </div>

        </div>

        <div class="col-sm-6">
            <div class="form-group-lg" data-bind="validationElement: eventEndDate">

                <label for="EventEndDate" class="control-label">End Date *</label>
                <input type="text" class="form-control"
                       id="EventEndDate"
                       name="EventEndDate"
                       data-bind="datetime: eventEndDate" />
            </div>
        </div>


    </div>


    @*Additional Details*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-anchor"></i>&nbsp; Contact</h4>
                @*<p>Tell your visitors the location and what's the event about.</p>*@
            </div>

        </div>

        <div class="col-sm-6">
            <div class="form-group-lg" data-bind="validationElement: organiserName">
                <label for="OrganiserName">Organiser Name *</label>
                <input type="text" class="form-control" id="OrganiserName" name="OrganiserName" data-bind="value: organiserName"
                       placeholder="Main contact person / group" />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group-lg">
                <label for="OrganiserPhone">Organiser Phone</label>
                <input type="text" class="form-control" id="OrganiserPhone" maxlength="20" name="OrganiserPhone" data-bind="value: organiserPhone" placeholder="Direct contact number (optional)" />
            </div>
        </div>


    </div>

    @*Ad Publishing Date*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-calendar"></i>&nbsp; Publishing Date</h4>
                <p>When should the customers see your event online?</p>
            </div>
        </div>

        <div class="col-xs-12" data-bind="validationElement: adStartDate">
            <label for="adStartDate" class="control-label">Publishing Date *</label>
            <input type="text" class="form-control"
                   id="adStartDate"
                   name="adStartDate"
                   data-bind="datetime: adStartDate" />
        </div>

    </div>


    <div class="row top-buffer-20">
        <div class="col-xs-12">
            <div id="serverValidation" style="display: none">
                <div class="alert alert-danger"></div>
            </div>
        </div>
    </div>


    <div class="row top-buffer-10" data-bind="visible: startEmailSending">
        <div class="col-md-12">
            <progress-bar params="message: 'Sending emails, please wait...', howMany: guestsAffected, processed: guestsNotified"></progress-bar>
        </div>
    </div>

    <div class="row top-buffer-10">

        <div class="col-sm-offset-8 col-sm-4 top-buffer-10" data-bind="visible: hasBookings() === false">
            <button type="submit" class="btn btn-success btn-block ko-load" data-bind="click: saveEventDetails">
                <i class="fa fa-arrow-circle-up"></i> Update
            </button>
        </div>

        <div class="col-xs-12" data-bind="visible: hasBookings() === true && startEmailSending() === false"">
            <ticket-purchase-warning params="save: saveEventDetailsAndNotify, saveWithoutNotifications: saveEventDetails, blockOn: startEmailSending"></ticket-purchase-warning>
        </div>

    </div>


</div>


@Html.Partial("_CropImage")