@model ManageGuestsViewModel

@{
    ViewBag.Title = "Manage guests for event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts{
    <script>
        $(function () {
            var vm = @Html.Raw(Model.ToJsonString());
            var guestSettings = new $paramount.models.GuestSettings(vm);
            ko.applyBindings(guestSettings, document.getElementById('guestSettings'));
        });
    </script>
}

<div class="container top-buffer-60" id="manageGroups">
    <h2 class="page-header">
        Manage Guests
    </h2>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <a href="@Url.EventDashboard(Model.Id)" class="btn btn-default btn-block js-load">
                <i class="fa fa-arrow-circle-left"></i>
                <span class="hidden-sm">Event</span>
                Dashboard
            </a>
        </div>
    </div>


    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a>
            </li>
            <li role="presentation">
                <a href="#guestSettings" aria-controls="settings" role="tab" data-toggle="tab">
                    <i class="fa fa-cog"></i>
                    Settings
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active in" id="guests">
                Guest list will go here
            </div>
            <div role="tabpanel" class="tab-pane" id="guestSettings">
                <div>
                    <h3>Guest settings</h3>
                </div>

                <div class="row">
                    <div class="col-xs-12 form-group-lg">
                        <label class="control-label">Display guests on the event details page</label>
                        <div class="display-block toggle-required">
                            <input type="checkbox" data-bind="toggle: displayGuests" data-on="Yes" data-off="No" />
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right">
                    <button class="btn btn-primary ko-load"
                            data-bind="click: saveGuestSettings">
                        Save <i class="fa fa-floppy-o"></i>
                    </button>
                </div>

            </div>
        </div>

    </div>


</div>