<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="MembershipDatabaseDb"
      connectionString="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>