#login-panel .header
{
	background:transparent url(images/PanelTile2.png) repeat-x scroll 0 0;
	Height:40px;
}

#login-panel .body
{
	background-color:#fff;
	height:200px;
	padding-top:10px;
}
#login-panel .paneltext
{
	color:#406287;
	font-family:Tahoma,Verdana;
	font-size:10pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	margin-top:10px;
}
#login-panel
{
	width :400px;
}