@model UserNetworkNotifierView

@{
    ViewBag.Title = "User Network";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        var data = @Html.Raw(Model.ToJsonString());
        $paramount.ui.notifyNetworkAdUi.init(data);
    </script>
}

<div class="container top-buffer-60">
    <h2>User Network</h2>
    <div id="userNetwork">

        <div class="row top-buffer-20">
            <div class="col-xs-12">
                <div class="alert alert-info" data-bind="visible: users().length === 0">
                    It seems very empty at the moment :(
                </div>

                <div class="list-group" data-bind="foreach: users">
                    <div class="list-group-item">
                        <span data-bind="text: fullName" class="is-fullName"></span>
                        &nbsp;
                        <span data-bind="text: email" class="is-email"></span>
                        <div class="pull-right">
                            <input type="checkbox" data-bind="toggle: selected"
                                   data-onstyle="success"
                                   data-on="Send Email"
                                   data-off="No Email"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-right">
                <button class="btn btn-primary" data-bind="click: notifyFriends, visible: anyUserSelected">
                    <i class="fa fa-mail-forward"></i> Notify Friends
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Add Friend</h3>
            </div>
            <div class="col-sm-6 form-group" data-bind="validationElement: newFriendName">
                <label>Friend's Name</label>
                <input type="text" class="form-control" data-bind="value: newFriendName" />
            </div>
            <div class="col-sm-6 form-group" data-bind="validationElement: newFriendEmail">
                <label>Friend's Email</label>
                <input type="email" class="form-control" data-bind="value: newFriendEmail" />
            </div>

            <div class="col-sm-12 text-right">
                <button class="btn btn-success" data-bind="click: addFriend">
                    <i class="fa fa-plus-circle"></i> Add
                </button>
            </div>
        </div>
    </div>
</div>