@model dynamic

@{
    ViewBag.Title = "Barcode Validation Explained";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}
@section Main{
    <main class="mast-head help-pricing" id="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        Barcode 
                    </h1>
                    <p>
                        <em> Free tickets? Free for everyone!</em>
                    </p>
                </div>
            </div>
        </div>
    </main>
}

<div class="container">
    
</div>