/*Application based styling ( built on top of the bootstrap core css */

@label-publication: #428bca;
@label-category: #f0ad4e;
@success: #c1e2b3;
@help: #5bc0de;

.top-buffer-10 {
    margin-top: 10px;
}

.top-buffer-5 {
    margin-top: 5px;
}

.bottom-buffer-10 {
    margin-bottom: 10px;
}

.top-buffer-20 {
    margin-top: 20px;
}

.top-buffer-40 {
    margin-top: 40px;
}

.left-buffer-20 {
    padding-left: 20px;
}

.bordered-1 {
    border: 1px solid #eee;
    padding: 2px;
}


.label-publication {
    background-color: @label-publication;
}

.label-category {
    background-color: @label-category;
}

.no-display {
    display: none;
}

.button-options {
    .btn {
        margin-top: 10px;
    }

    .btn-default.active {
        background-color: @success;
    }
}

.bs-callout {
    padding: 10px;
    padding-left: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.bs-callout-info {
    border-left-color: @help;

    h4 {
        color: @help;
    }
}

.padded-20 {
    padding: 20px;
}

.pager .next > button {
    float: right;
}

.pager .previous > button {
    float: left;
}

.form-control-checkbox {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}

.jumbotron .img-stretch {
    width: 100%;
    height: 100%;
}

.user-menu {
    margin-left: 0;
    margin-right: 0;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            float: left;
            width: 25%;
            height: 115px;
            padding: 10px;
            font-size: 10px;
            line-height: 1.4;
            text-align: center;
            background-color: #f9f9f9;
            border: 1px solid #fff;

            .icon-padded {
                margin-top: 12px;
            }

            .menu-item-text {
                display: block;
                text-align: center;
                word-wrap: break-word;
                padding-top: 5px;
            }
        }

        li:hover {
            background-color: #ededed;
        }
    }
}

.user-menu-filters {
    margin: 30px 0 10px;
}

.nav-tabs {
    background-color: #fff;
    z-index: 100;
}

.total-price-link {
    cursor: pointer;
    text-decoration: underline;
}

.myads-date-info {
    dd {
        margin-left: 120px;
    }

    dt {
        width: 100px;
    }
}

/*
    Mobile
*/
@media (max-width: 766px) {
    /* Smaller widths stack controls on top of another with no margin */
    .form-control {
        margin-top: 5px;
    }

    .btn {
        margin-top: 5px;
    }

    .user-menu-filters {
        margin: 0;
    }

    .myads-date-info {
        dd {
            margin-left: 20px;
        }

        dt {
            margin-left:20px;
        }
    }
}
