@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
}

.ticket-container:nth-child(4n) {
    page-break-after: always;
}

.ticket-container {
    margin-top: 20px;
    height: 220px;
    border-bottom: 1px dashed;
    width: 100%;

    .ticket {
        position: relative;

        .event-picture {
            float: left;
            width: 200px;
            vertical-align: top;
        }

        .event-info {
            font-size: 0.9em;
            margin-left: 200px;
            width: 480px;
            /* In case there is no image */
            &.full {
                width: 700px;
                margin-left: 0;
            }

            .event-title {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 20px;
                width: 100%;
                margin-bottom: 10px;

                h2 {
                    margin: 0;
                    line-height: none;
                    font-size: 21px;

                    &.smaller{
                        font-size: 16px;
                    }
                }
            }

            .event-details {
                .col-xs-6 {
                    margin-top: 10px;
                }

                label {
                    i {
                        width: 20px;
                    }

                    min-width: 100px;
                }

                span {
                    &.detail {
                        margin-left: 12px;
                    }
                }
            }
        }

        .event-barcode {
            /*coming soon*/
            position: absolute;
            right: 0%;
            top: 20%;
        }
    }
}
