@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
}

.ticket-container:nth-child(4n) {
    page-break-after: always;
}

.ticket-container {
    margin-top: 20px;
    height: 220px;
    border-bottom: 1px dashed;
    width: 100%;

    .ticket {
        position: relative;

        .event-picture {
            float: left;
            width: 200px;
            vertical-align: top;
        }

        .event-info {
            font-size: 0.8em;
            margin-left: 200px;
            width: 480px;

            .event-title {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 20px;
                width: 100%;

                h3 {
                    margin: 0;
                    line-height: none;
                }
            }

            .event-details {
                .col-xs-6 {
                    margin-top: 10px;
                }

                label {
                    i {
                        width: 10px;
                    }

                    display: block;
                }

                span {
                    &.detail {
                        margin-left: 12px;
                    }
                }
            }
        }

        .event-barcode {
            /*coming soon*/
            position: absolute;
            right: -5%;
            top: 38%;

            img {
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                -ms-filter: "FlipH";
                filter: FlipH;
            }
        }
    }
}
