/*Application based styling ( built on top of the bootstrap core css */

@label-publication: #428bca;
@label-category: #f0ad4e;
@success: #c1e2b3;
@help: #5bc0de;
@border_light: #eee;
@border_dark: #ddd;
@color_primary: #eee;

.top-buffer-10 {
    margin-top: 10px;
}

.top-buffer-5 {
    margin-top: 5px;
}

.bottom-buffer-10 {
    margin-bottom: 10px;
}

.top-buffer-20 {
    margin-top: 20px;
}

.top-buffer-40 {
    margin-top: 40px;
}

.top-buffer-60 {
    margin-top: 60px;
}

.left-buffer-20 {
    padding-left: 20px;
}

.bordered-1 {
    border: 1px solid #eee;
    padding: 2px;
}


.label-publication {
    background-color: @label-publication;
}

.label-category {
    background-color: @label-category;
}

.no-display {
    display: none;
}

.strikethrough {
    text-decoration: line-through;
}

.button-options {
    .btn {
        margin-top: 10px;
    }

    .btn-default.active {
        background-color: @success;
    }
}

.bs-callout {
    padding: 10px;
    padding-left: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.bs-callout-info {
    border-left-color: @help;

    h4 {
        color: @help;
    }
}

.padded-20 {
    padding: 20px;
}

.pager .next > button {
    float: right;
}

.pager .previous > button {
    float: left;
}

.form-control-checkbox {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}

.jumbotron .img-stretch {
    width: 100%;
    height: 100%;
}

.user-menu {
    margin-left: 0;
    margin-right: 0;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            float: left;
            width: 25%;
            height: 115px;
            padding: 10px;
            font-size: 10px;
            line-height: 1.4;
            text-align: center;
            background-color: #f9f9f9;
            border: 1px solid #fff;

            .icon-padded {
                margin-top: 12px;
            }

            .menu-item-text {
                display: block;
                text-align: center;
                word-wrap: break-word;
                padding-top: 5px;
            }
        }

        li:hover {
            background-color: #ededed;
        }
    }
}

.user-menu-filters {
    margin: 30px 0 10px;
}

.nav-tabs {
    background-color: #fff;
    z-index: 100;
}

.total-price-link {
    cursor: pointer;
    text-decoration: underline;
}

.myads-date-info {
    dd {
        margin-left: 120px;
    }

    dt {
        width: 100px;
    }
}

.top-action-buttons {
    .login-options {
        min-width: 175px;
    }
}


/*
    Navbar
*/
.navbar {
    margin-bottom: 0;
}

/*
    Category Links
*/

.categories-links {

    .category {
        font-size: 18px;
        margin-bottom: 5px;

        i {
            min-width: 30px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #ccc;
            display: block;
            padding: 15px;

            &:hover {
                background-color: #eee;
            }
        }
    }
}

/*
    Event editor
*/
.event-editor {
    .bs-callout-info {
        h4 {
            display: inline-block;
        }
    }

    .event-photo {
        .photo-upload {
            margin-top: 44px;
            display: table;
            width: 100%;

            .photo {
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                .btn-remove {
                    min-width: 100px;
                }
            }
        }
    }

    .ticket-field-edit {
        button.remove-field {
            margin-left: 5px;
        }
    }
}

/*
    Event Details
*/

.event-details {

    .event-title {
        background-color: @color_primary;
        padding: 50px 0;
        margin-top: 20px;
        color: #fff;

        h1 {
            font-size: 48px;
            font-weight: 400;
        }

        i {
            min-width: 20px;
        }

        .social-share {
            a {
                min-width: 65px;
            }

            @media (max-width: 766px) {
                a {
                    min-width: 55px;
                }

                .btn-lg {
                    padding: 8px 12px;
                }
            }
        }
    }

    .event-map {
        display: block;

        .google-map {
            height: 350px;
        }
    }

    .full-width {
        width: 100%;
    }

    .seat-selection {
    }

    .event-photo {
        min-height: 400px;
        width: 100%;
        background-position: center;
        background-size: cover;
        /* the background-image is specified as inline-style using the url() property*/
        @media (max-width: 992px) {
            min-height: 200px;
        }
    }

    .ticket-booth {
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;


        h3 {
            margin-top: 2px;
        }

        .ticketing {
            .ticket-info {
                font-size: 16px;
                vertical-align: middle;
            }
        }

        &.affix-top, &.affix {
            position: static;
        }

        @media(min-width: 992px) {
            &.affix-top {
                position: static;
                margin-top: 30px;
                width: 283px;
            }

            &.affix {
                position: fixed;
                top: 30px;
                width: 283px;
            }
        }

        @media (min-width: 1200px) {
            &.affix-top {
                position: static;
                margin-top: 30px;
                width: 350px;
            }

            &.affix {
                position: fixed;
                top: 30px;
                width: 350px;
            }
        }
    }

    .guests {
        .guest {
            background-color: #eee;
            -ms-border-radius: 50%;
            border-radius: 50%;
            padding: 20px;
            text-align: center;
        }

        margin-bottom: 20px;
    }
}

/*
    Event - Booking tickets
*/
.event-book-tickets {
    .alert {
        &.alert-count-down {
            background-color: #fff;
            font-size: 1.1em;
            font-weight: bold;
            color: #333;
        }
    }

    .reservation-countdown {
        border-bottom: 1px solid @border_light;
    }

    .book-tickets-form {
        border-right: 1px solid @border_light;

        .label {
            font-size: 12px;
        }
    }

    .status {
        .label {
            font-size: 1.1em;
        }
    }
}

.event-ticket {
    border: 1px solid @border_dark;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    h3 {
        margin: 5px 0 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid @border_dark;
    }

    .ticket-label {
        i {
            min-width: 15px;
        }
    }


    span {
        font-size: 0.8em;
        font-weight: bold;
    }

    @media (max-width: 766px) {
        [class*='col-'] {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

/*
    Event Ticketing
*/
.event-ticketing {
    span {
        &.badge {
            font-size: 35px;
            padding: 15px;
            background-color: @color_primary;
        }
    }
}

/*
    Event Dashboard
*/
.event-dashboard {
    .statistics {
        .stat {
            border: 1px solid @color_primary;
            box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            margin-bottom: 20px;
            padding: 10px 20px 20px;
            position: relative;

            i {
                padding-top: 10px;
                color: #333;
            }

            #ticketSalesChart {
                width: 110px;
                height: 65px;
                float: left;
                padding-right: 10px;
            }

            @media (max-width: 766px) {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .action-item {
        border-top: 1px solid @border_light;
        padding: 10px 0;

        h3 {
            display: inline-block;
            margin-top: 0;
        }

        .action-info {
            margin-top: 0;
            margin-left: 10px;
            font-size: 0.8em;
            display: inline-block;
        }

        .action-btn {
            display: inline-block;
            float: right;
        }
    }

    .guest-list {
        max-height: 500px;
        overflow: auto;

        @media (max-width: 766px) {
            max-height: 250px;
        }

        .guest-fields {
            li {
                margin-left: 20px;
            }
        }
    }
}


/*
    Masthead
*/

.mast-head {
    color: #fff;
    background-image: url('images/hero-bg.JPG');
    background-size: cover;
    padding: 80px 0;

    a {
        text-decoration: none;

        :hover {
            text-decoration: none;
        }
    }

    h1 {
        a {
            color: #fff;
        }

        font-size: 70px;
    }

    .btn {
        &.btn-hero-cta {
            border: 1px solid #fff;
        }
    }
}

.home-impact {
    h1 {
        color: #0079a1;
    }

    .item {
        border: 1px solid #e1e8ed;
        background-color: #fafafa;
        padding: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }

    @media (max-width: 766px) {
        [class*='col-'] {
            margin: 0;
        }
    }
}
/*
    Listing results
*/
.listing-results {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .list-group-item {
        margin-top: 30px;
    }
}


/*
    Form Overrides
*/


input[readonly] {
    &.bs-date-picker,
    &.bs-clock-picker {
        cursor: pointer;
        background-color: #fff;
    }
}

/*
    User networking
*/
#userNetwork {
    .list-group-item {
        .is-fullName {
            font-weight: bold;
        }
    }
}

/*
    Extra small devices
*/
@media (max-width: 766px) {
    /* Smaller widths stack controls on top of another with no margin */
    .form-control {
        margin-top: 5px;
    }

    .btn {
        margin-top: 5px;
    }

    .user-menu-filters {
        margin: 0;
    }

    .myads-date-info {
        dd {
            margin-left: 20px;
        }

        dt {
            margin-left: 20px;
        }
    }

    .event-details {
        .event-title {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 15px;
            }
        }

        .event-map {
            .google-map {
                height: 200px;
            }
        }


        .event-photo {
            .thumbnail {
                max-width: 150px;
                margin-right: 2px;
            }
        }
    }

    [class*='col-'] {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


/*
    home featured
*/

.home-featured {
    background-color: @color_primary;
    padding-bottom: 20px;

    .thumbnail {
        padding-top: 20px;
    }

    .col-item {
        border: 1px solid @color_primary;
        border-radius: 5px;
        background: #FFF;

        .photo {
            img {
                margin: 0 auto;
                width: 100%;
            }

            .ico-img {
                background-color: #eee;
                width: 100%;
                padding: 40px 0;
                text-align: center;
            }
        }

        .info {
            padding: 10px;
            border-radius: 0 0 5px 5px;
            margin-top: 1px;
        }

        .price h5 {
            line-height: 20px;
            margin: 0;
        }

        .separator {
            border-top: 1px solid @color_primary;
            padding-top: 5px;

            p {
                line-height: 20px;
                margin-bottom: 0;
                margin-top: 10px;
                text-align: center;
            }
        }

        p i {
            margin-right: 5px;
        }
    }

    .controls {
        margin-top: 20px;
    }

    [data-slide="prev"] {
        margin-right: 10px;
    }
}

/*
    Small Devices
*/


@media (min-width: 768px) {
    .event-details {
        .thumbnail {
            max-width: 200px;
        }
    }
}

/*
    Medium Devices
*/
@media (min-width: 992px) {
    .event-details {
        .thumbnail {
            max-width: 290px;
        }
    }
}

/*
    Footer
*/

.footer {
    padding: 50px 0;
}

/*
    Wells
*/

.well {
    &.well-info {
    }
}


/*
    NAVBAR collapse early! Th
*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

.loading-overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/loader.gif') white no-repeat center;
    /*opacity: 0.75;*/
}
