<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="iFlogDb"
      connectionString="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>