@using Paramount
@model dynamic

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
    ViewBag.Title = "Manage my Ads";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_UserMenu")
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h2 class="page-header">My Ads (<span data-bind="text : selectedStatus"></span>)</h2>
    </div>
    <div class="col-sm-6">
        <div class="btn-group btn-lg user-menu-filters pull-right" data-toggle="buttons">
            <label class="btn btn-primary active" data-status="All" data-bind="click: setStatus">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> All
            </label>
            <label class="btn btn-success" data-status="Current" data-bind="click: setStatus">
                <input type="radio" name="options" id="option2" autocomplete="off"> Current
            </label>
            <label class="btn btn-warning" data-status="Scheduled" data-bind="click: setStatus">
                <input type="radio" name="options" id="option3" autocomplete="off"> Scheduled
            </label>
            <label class="btn btn-danger" data-status="Expired" data-bind="click: setStatus">
                <input type="radio" name="options" id="option3" autocomplete="off"> Expired
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
                Loading... Please Wait
            </div>
        </div>

        <div id="adList" style="display: none" data-bind="foreach: ads">
            <div class="panel" data-bind="css : {'panel-danger' : $data.status() === 'Expired', 'panel-success' :  $data.status() === 'Current', 'panel-warning' : $data.status() === 'Scheduled'} ,visible: $data.status() === $parent.selectedStatus() || $parent.selectedStatus() === 'All'">
                <div class="panel-heading">
                    <strong>
                        <span data-bind="text: adId"></span> -
                        <span data-bind="text: heading"></span>
                    </strong>
                    <div class="pull-right userads-cmd-panel" data-bind="visible : $data.status() !== 'Expired'">
                        <strong>
                            <a data-bind="attr : {href : $paramount.url.userads.editAdDetails($data.adId())} ">
                                Edit <i class="fa fa-pencil"></i>
                            </a>
                            | &nbsp;
                            <a href="" class="cancel-ad" data-bind="click: cancelAd">
                                Cancel <i class="fa fa-trash"></i>
                            </a>
                            | &nbsp;
                            <a data-bind="attr : {href : $paramount.url.userads.viewAd($data.adId())}">
                                View <i class="fa fa-eye"></i>
                            </a>
                        </strong>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @*Descripton*@
                        <div class="col-xs-6" data-bind="text: description"></div>

                        @*Image*@
                        <div class="col-xs-2">
                            <img class="thumbnail" alt="100x100" data-bind="visible : adImageId() !== '',attr : {src : $paramount.imageService.getImageUrl(adImageId())}">
                        </div>

                        @*Dates*@
                        <div class="col-xs-4">
                            <dl class="dl-horizontal myads-date-info">
                                <dt>Posted</dt>
                                <dd data-bind="text: starts"></dd>
                                <dt>Ends</dt>
                                <dd data-bind="text: ends"></dd>
                            </dl>
                        </div>
                    </div>
                </div>

                @*Footer*@
                <div class="panel-footer">
                    Visits : <span data-bind="text: visits"></span>
                    <div class="pull-right">
                        <strong>
                            <button data-bind="visible: messageCount() > 0" class="btn btn-primary view-messages">
                                Enquiries <i class="fa fa-envelope"></i> ( <span data-bind="text: messageCount"></span> )
                            </button>
                            <button class="btn btn-default">
                                Invoice <i class="fa fa-file"></i>
                            </button>
                        </strong>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="userEnquiriesDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Direct Messages</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Enquiry</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach : userEnquiries">
                        <tr>
                            <td data-bind="text: fullName"></td>
                            <td data-bind="text: email"></td>
                            <td data-bind="text: enquiryText"></td>
                            <td data-bind="text: createdDate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="cancelAdDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure?</h4>
            </div>
            <div class="modal-body">

                <p>
                    <strong>Danger: </strong>
                    This action is not reversable. If a refund is available,
                    our team may be able to help you.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary confirm-cancel">Confirm</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/Account/UserAds.js")"></script>

    <script>

        (function ($m, $, ko) {

            $.getJSON('@Url.Action("GetAdsForUser", "UserAds")', null, function (data) {
                $('.progress').hide(500, function () {
                    var bookingsView = new $m.UserAdsView(data);
                    ko.applyBindings(bookingsView);
                    $('#adList').show();
                });
            });

            $('#adList').on('click', '.view-messages', function () {
                var context = ko.contextFor(this);
                context.$parent.userEnquiries(context.$data.messages());
                $('#userEnquiriesDialog').modal('show');
            });

            $('#adList').on('click', '.cancel-ad', function () {
                var context = ko.contextFor(this);
                context.$parent.setAdForCancel(context.$data.adId());
                $('#cancelAdDialog').modal('show');
            });

            $('#cancelAdDialog').on('click', '.confirm-cancel', function () {
                var context = ko.contextFor(this);
                var $btn = $(this);
                $btn.button('loading');
                $.post('@Url.Action("Cancel", "UserAds")', { adId: context.$data.selectedAdToCancel() }, function () {
                    $btn.button('reset');
                    $('#cancelAdDialog').modal('hide');
                    context.$data.confirmCancel();
                });
            });

        })($paramount.models, jQuery, ko);

    </script>
}


