@using Paramount.Betterclassifieds.Presentation.LegacyIntegration

<div class="alert alert-warning top-buffer-10">
    Want to place a print ad?
    <a href="@Url.Content(LegacyLinks.ClassicBooking)">
        Please use our Classic Booking System
    </a>
</div>