
<div class="panel-group top-buffer-20" id="priceSummary">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#priceSummary" href="#priceBreakDown">
                    Current Total
                    <span id="currentTotal" data-bind="text: _pg.formatCurrency( pricelist().Total )"></span>
                    <span class="pull-right" data-toggle="collapse" data-parent="#priceSummary" href="#priceBreakDown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </h4>
        </div>
        <div id="priceBreakDown" class="panel panel-collapse collapse">

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>Online Base Price</td>
                        <td data-bind="text: _pg.formatCurrency( pricelist().LineItems['Online Ad Cost'] )"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>