
<div class="panel-group top-buffer-20" id="priceSummary">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#priceSummary" href="#priceBreakDown">
                    Current Total
                    <span id="currentTotal" data-bind="text: _pg.formatCurrency( pricelist().Total )"></span>
                    <span class="pull-right" data-toggle="collapse" data-parent="#priceSummary" href="#priceBreakDown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </h4>
        </div>  
        <div id="priceBreakDown" class="panel-collapse collapse">
            <div class="panel-body">
                Todo - Do a price breadkdown
            </div>
        </div>
    </div>
</div>