@using Paramount

@model BookingEventTicketSetupViewModel


@{
    ViewBag.Title = "Event Tickets";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

@section Scripts{
    <script>
        $(function () {
            var rootEl = $('#eventBookingTicketEditor').get(0);
            var data = @Html.Raw(Model.ToJsonString());
            var viewModel = new $paramount.models.EventTicketingSetup(data);
            ko.applyBindings(viewModel, rootEl);
        });
    </script>
}
<ul class="nav nav-tabs" role="tablist" id="bookingNavSteps">
    <li>@Html.ActionLink("1", "Step1")</li>
    <li class="active"><a href="#">Step 2</a></li>
    <li class="disabled"><a href="#">3</a></li>
</ul>

<div id="eventBookingTicketEditor" class="event-editor">
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-list"></i> &nbsp; Ticketing Setup</h4>
            </div>
        </div>
    </div>

    <ul class="list-group" data-bind="foreach: tickets">
        <li class="list-group-item">
            <div class="row ticket-form">
                <div class="col-sm-6 col-xs-12 control-group" data-bind="validationElement: ticketName">
                    <label>Ticket Name</label>
                    <input type="text" class="form-control" data-bind="value: ticketName" placeholder="e.g. VIP / Platinum / Free" />
                </div>
                <div class="col-sm-2 col-xs-5 control-group" data-bind="validationElement: price">
                    <label class="control-label">Price</label>
                    <input type="number" class="form-control" data-bind="value: price">
                </div>
                <div class="col-sm-2 col-xs-5 control-group" data-bind="validationElement: availableQuantity">
                    <label class="control-label">Available Qty</label>
                    <input type="number" class="form-control amount" data-bind="value: availableQuantity" />
                </div>
                <div class="col-sm-2 col-xs-2 control-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-block" data-bind="click: $parent.removeTicketType">
                        <i class="fa fa-trash"></i><span class="hidden-xs"> Remove</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>

    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-success" data-bind="click: addTicketType">
                <i class="fa fa-plus-circle"></i> Add Ticket Option
            </button>
        </div>
    </div>

    @*Pager*@
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager">
                <li class="previous">
                    <button id="btnPrev" class="btn btn-large btn-default js-load" data-nav='@Url.Booking(2, "Event")'>
                        <i class="glyphicon glyphicon-arrow-left"></i> Previous
                    </button>
                </li>
                <li class="next">
                    <button data-bind="click:submitTickets" class="btn btn-large btn-default" data-loading-text="Please Wait...">
                        Next <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
