@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<ul class="nav nav-tabs" role="tablist" id="bookingNavSteps">
    <li>@Html.ActionLink("1", "Step1")</li>
    <li class="active"><a href="#">Step 2</a></li>
    <li class="disabled"><a href="#">3</a></li>
</ul>

<form method="POST" action="@Url.Action("UpdateEventDetails", "Booking")" novalidate="novalidate">

    @*Event Details*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-list"></i> &nbsp; Event Details</h4>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group-lg">
                <label>Event Name *</label>
                <input type="text" class="form-control" id="Title" name="Title" placeholder="Provide a short impact title"
                       data-bind="value: title, valueUpdate: 'keyup'"
                       data-val="true" data-val-required="Event name is required"
                       maxlength="100" />
                <span class="field-validation-valid help-block" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                <span class="help-block">
                    * Remaining characters : <span data-bind="text: titleRemaining"></span>
                </span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label>Details *</label>
                <textarea class="form-control input-lg" id="Description" name="Description" rows="5" placeholder="What's the event about? Who will be there?"
                          data-bind="value: description"
                          data-val="true"
                          data-val-required="Event details are required"></textarea>

                <span class="field-validation-valid help-block" data-valmsg-for="Description" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>

    @*Location*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-map-marker"></i> &nbsp;Location</h4>
                @*<p>Tell your visitors the location and what's the event about.</p>*@
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group-lg">
                <label class="control-label">Address *</label>
                <input type="text" class="form-control" id="Location" name="Location" placeholder="Type address, and google should find it!" maxlength="200"
                       data-bind="value: location"
                       data-val="true"
                       data-val-required="Event location is required" />
                <input type="hidden" name="LocationLatitude" data-bind="value: locationLat" />
                <input type="hidden" name="LocationLongitude" data-bind="value: locationLong" />
                <span class="field-validation-valid help-block" data-valmsg-for="Location" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="well" style="min-height: 200px" id="LocationMap"></div>
        </div>
    </div>

    @*Schedule Start*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-clock-o"></i> &nbsp; Event Schedule</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="form-group-lg has-feedback">
                <label class="control-label" for="EventStartDate">Start Date *</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="EventStartDate" id="EventStartDate" data-bind="date: startDate" class="form-control" type="text"
                           data-val="true"
                           data-val-required="Start Date is required">
                </div>
                <span class="field-validation-valid help-block" data-valmsg-for="EventStartDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group-lg">
                <label class="control-label">Start Time *</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text" class="form-control" id="EventStartTime" name="EventStartTime"
                           data-bind="time: startTime"
                           data-val="true"
                           data-val-required="Start Time is required" />
                </div>
                <span class="field-validation-valid help-block" data-valmsg-for="EventStartTime" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group-lg">
                <label>End Date *</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="EventEndDate" id="EventEndDate" class="form-control datepicker" type="text"
                           data-bind="date: endDate"
                           data-val="true"
                           data-val-required="End Date is required">
                </div>
                <span class="field-validation-valid help-block" data-valmsg-for="EventEndDate" data-valmsg-replace="true"></span>
                <div class="alert alert-danger" data-bind="text: endDateValidation, visible: endDateValidation().length>0"></div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group-lg">
                <label class="control-label">End Time</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text" id="EventEndTime" name="EventEndTime" data-bind="time: endTime" class="form-control" data-val="true" />
                </div>
                <span class="field-validation-valid help-block" data-valmsg-for="EventEndTime" data-valmsg-replace="true"></span>
                <div class="alert alert-danger" data-bind="text: endTimeValidation, visible: endTimeValidation().length > 0"></div>
            </div>
        </div>

    </div>

    @*Photos*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-photo"></i>&nbsp; Event Photo</h4>

                @*<div class="panel-body upload-thumbs">
                    
                    <div class="alert alert-danger" data-bind="text : errorMsg, css : { hidden : errorMsg().length == 0 }"></div>
                    <div class="progress progress-striped active" data-bind="visible: uploadImageInProgress">
                        <div class="progress-bar active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span data-bind="visible: uploadImageInProgress">Uploading...</span>
                        </div>
                    </div>

                    <div class="row" data-bind="foreach: adImages">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="thumbnail">
                                <img data-bind="attr: {src: $paramount.imageService.getImageUrl($data) }" />
                                <div class="caption">
                                    <button class="btn btn-warning btn-block" title="Remove" data-bind="click: $parent.removeImage">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>

        Coming soon
    </div>

    @*Ticketing*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-ticket"></i>&nbsp; Ticketing</h4>
                @*<p>Tell your visitors the location and what's the event about.</p>*@
            </div>
            Coming soon
        </div>
    </div>


    @*Additional Details*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-anchor"></i>&nbsp; Additional Details</h4>
                @*<p>Tell your visitors the location and what's the event about.</p>*@
            </div>

        </div>

        <div class="col-xs-6">
            <div class="form-group-lg">
                <label for="OrganiserName">Organiser Name *</label>
                <input type="text" class="form-control" id="OrganiserName" name="OrganiserName" data-bind="value: organiserName"
                       placeholder="Who is responsible for the event?"
                       data-val="true"
                       data-val-required="Organiser name is required" />
                <span class="field-validation-valid help-block" data-valmsg-for="OrganiserName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group-lg">
                <label for="OrganiserPhone">Organiser Phone</label>
                <input type="text" class="form-control" id="OrganiserPhone" maxlength="10" name="OrganiserPhone" data-bind="value: organiserPhone" placeholder="Direct contact number (optional)" />
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group-lg">
                <label>Ad Start Date *</label>
                <input type="text" class="form-control" id="AdStartDate" name="AdStartDate"
                       data-bind="date: adStartDate"
                       data-val="true"
                       data-val-required="Start date for your ad is required" />
                <span class="field-validation-valid help-block" data-valmsg-for="AdStartDate" data-valmsg-replace="true"></span>
                <div class="alert alert-info" data-bind="visible: adEndDate().length > 0">
                    Your ad will run for <span data-bind="text: configDurationDays"></span> days and expires <strong><span data-bind="text: adEndDate"></span></strong>
                </div>
            </div>
        </div>
    </div>

    @*Pager*@
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager">
                <li class="previous">
                    <button id="btnPrev" class="btn btn-large btn-default js-load" data-nav='@Url.Action("Step1", "Booking")'>
                        <i class="glyphicon glyphicon-arrow-left"></i> Previous
                    </button>
                </li>
                <li class="next">
                    <button id="btnSubmit" type="submit" class="btn btn-large btn-default">Next <i class="glyphicon glyphicon-arrow-right"></i></button>
                </li>
            </ul>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <script>
        // Initialise the event designer
        $paramount.event.init({
            ServiceEndpoint: $paramount.url.adBooking,
            MaxFreeImages: 5,
            ConfigDurationDays: 60
        });

    </script>
}