@using Paramount
@model Paramount.Betterclassifieds.Presentation.ViewModels.Booking.Step2View

@{
    ViewBag.Title = "Classifieds - Place new Ad";
    Layout = @Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">Step 2</a></li>
        <li><a href="#">3</a></li>
    </ul>
    
    Todo

    @*Pager*@
    <ul class="pager">
        <li class="previous"><a>&larr; Previous</a></li>
        <li class="next"><a>Next &rarr;</a></li>
    </ul>

</div>