<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.13" targetFramework="net45" />
  <package id="Monads" version="1.1.5.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net461" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="WebDriver.GeckoDriver" version="0.19.0" targetFramework="net461" />
</packages>