@using Paramount
@model dynamic

@{
    ViewBag.Title = "Page Not Found - Classifieds";
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
}


<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Oooops. It's a 404! The page you are looking for does not exist.</h1></div>
        <p class="lead">
            Say what? This is a very common problem on the internet
            that appears when something you have clicked on or provided an address
            to something that seems to have moved or never existed...
        </p>
        <div class="alert alert-info alert-dismissable">
            Did you try to reach a page you owned and believe this happened
            in error? @Html.ActionLink("Contact our friendly team to help you out.", "ContactUs", "Home")
        </div>
    </div>
</div>
