@using Paramount

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
    ViewBag.Title = "Classifieds Home - Find everything you're looking for right here";
}


<h2>Contact Us</h2>