@using System.Monads
@using Paramount

@model HomeModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "KandoBay - Easy way to buy and sell event tickets online";

    // Setup latest ads carousel
    var latestAdsRowCount = 1;
    var adCount = Model.With(m => m.AdSummaryList).Return(a => a.Count, 0);
    if (adCount == 0)
    {
        latestAdsRowCount = 0;
    }
    if (adCount > 3)
    {
        latestAdsRowCount = adCount / 3;
    }
}

@section Scripts
{
    <script>
        $(function () {
            $paramount.ui.home.init();
            new WOW().init();
        });
    </script>
}

@section Main{
    <main class="mast-head" id="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        KandoBay
                    </h1>
                    <p>
                        <em>Easy way to buy &amp; sell event tickets online </em>
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <form action="@Url.Search()">
                        <div class="input-group input-group-lg">
                            <input type="text" name="keyword" id="keyword" class="form-control input-lg" placeholder="I am after...">
                            <div class="input-group-btn input-group-lg">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>

            <div class="row top-buffer-40">
                <div class="col-sm-3 col-sm-offset-3 text-left">
                    <a class="btn btn-default btn-block btn-hero-cta" href="@Url.Booking(1)">
                        <i class="fa fa-pencil"></i>&nbsp; Organise Event
                    </a>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-default btn-block btn-hero-cta" href="@Url.Search()">
                        <i class="fa fa-search"></i>&nbsp; Find an Event
                    </a>
                </div>
            </div>

        </div>
    </main>
}

<section class="home-impact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-ticket fa-3x wow fadeInLeft"></i>
                    </h1>
                    <h3>Quick & Simple Ticketing</h3>
                    <p class="lead">
                        In just a few steps, you can have your event online
                        with flexible ticketing options.
                    </p>
                    <div>
                        <button class="btn btn-primary">Get Started <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-credit-card fa-3x wow fadeInRight"></i>
                    </h1>
                    <h3>Pricing</h3>
                    <p class="lead">
                        Our fees are very competitive @@ 2.1% + 30 cents
                        per ticket. Free tickets? Then, no charge!
                    </p>
                    <div>
                        <button class="btn btn-primary">Use Calculator <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="home-impact alt">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-barcode fa-3x wow fadeInLeft"></i>
                    </h1>
                    <h3>Barcode Validation Ready</h3>
                    <p class="lead">
                        Do you need to validate tickets at the door? Most QR Code reader will just work.
                    </p>
                    <div>
                        <button class="btn btn-primary">Learn More <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-dashboard fa-3x wow fadeInRight"></i>
                    </h1>
                    <h3>Real-time Dashboard</h3>
                    <p class="lead">
                        Organisers have access to real time data and ability to
                        adjust their ticketing options.
                    </p>
                    <div>
                        <button class="btn btn-primary">See how it works <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container top-buffer-20">

    <div class="row categories-links">
        <div class="col-xs-12">
            <h2>Categories</h2>
        </div>
        <div data-bind="foreach: parentCategories">
            <div class="col-xs-12 col-sm-6 category">
                <a data-bind="attr : {href : $parent.searchLink($data)}">
                    <i data-bind="attr : {class : fontIcon}"></i> <span data-bind="text: title"></span>
                </a>
            </div>
        </div>
    </div>


</div>
