@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Classifieds Home - Find everything you're looking for right here";
}

<div class="container top-buffer-60">
    <div class="row">
        <div class="col-xs-12">

            <div>
                <h1 class="page-header">Our Privacy Statement</h1>

                <p>
                    Paramount IT ABN 73 354 358 639 regards personal privacy and compliance with our obligations under the Privacy Act 1988 (Cth), including the Australian Privacy Principles, as an important part of our relationship with event organisers and users of our services.
                </p>


                <p>
                    This Privacy Policy sets forth our policy with respect to information that can be associated with or which relates to a person and/or could be used to identify a person (“Personal Information”) that is collected from Users on or through the Services. "Non-Personal Data" as used in this Privacy Policy is therefore any information that does not relate to a person and/or cannot be used to identify a person.
                </p>

                <h3>
                    In this Policy:
                </h3>
                <p>
                    we refer to Visitors, Event Organisers, Subscribers and Customers as ‘Users’ or ‘you’;
                    ‘Personal Information’ means information or an opinion about an identified individual, or an individual who is reasonably identifiable (whether the information is true or not or recorded in any form or not) and includes ‘sensitive information’; and
                    ‘Sensitive information’ includes information about a person’s health, racial or ethnic origin, political opinions, membership of a political association, professional or trade association or trade union, religious beliefs or affiliations and philosophical beliefs.
                    This Policy applies to the domain name of kandobay.com.au and it’s associated sub-domains. It does not apply to, and we are not responsible for, the use of, or the protection of information provided to, other websites linked to our website.
                    <br /><br />
                    If you have any questions not addressed in this Policy, please feel free to contact us using the methods at the end of this Policy under the heading “Complaints and how to contact us”.

                    <h3>
                        PERSONAL INFORMATION THAT WE COLLECT
                    </h3>

                <p>
                    When you use, or interact with us through the Services, we may collect Personal Data, as further described below:
                </p>

                <h3>
                    All Users
                </h3>

                Information you provide to us:

                We collect Personal Information when you voluntarily provide such information to the Services, such as when you register for access to the Services, contact us with inquiries, respond to one of our surveys or browse or use certain parts of the Services. The Personal Information we may collect includes without limitation your name, address, email address and other information that enables Users to be personally identified.


                Information we automatically collect:

                We also automatically collect certain technical data that is sent to us from the computer, mobile device and/or browser through which you access the Services (“Automatic Data”). Automatic Data, includes without limitation, a unique identifier associated with your access device and/or browser (including, for example, your Internet Protocol (IP) address) characteristics about your access device and/or browser, statistics on your activities on the Services, information about how you came to the Services and data collected through Cookies, Pixel Tags, Local Shared Objects, Web Storage and other similar technologies.


                When you register for the Services or otherwise submit Personal Infomrstion to us, we may associate other Non-Personal Data (including Non-Personal Data we collect from third parties) with your Personal Data. At such instance, we will treat any such combined data as Personal Data until such time as it can no longer be associated with you or used to identify you.

                <h3>
                    Registered Users.
                </h3>
                If you register as an Event Organiser and create an account on our website, we will require you to provide your name, address, email address, work phone or other contact number, account username and password, and financial information such as bank account details.

                For Subscribers, we may collect your name, contact telephone number, organisation name, and email address.

                As a Customer, you may be required to provide certain Personal Information to complete a booking which may include your name, address, telephone number and email address. If you make a payment for an event, we may also collect financial information from you including your credit card number and expiration date. We will retain the transaction details for an event on our website for audit purposes. In addition, an Event Organiser may require us to collect additional Personal Information required by them. Such information may include Sensitive Information. If this information is provided by the Customer, we will also have access to it and we will hold, use and disclose that information in accordance with this Policy.

                In addition to collecting Personal Information via our website, we may collect Personal Information from Users by telephone or in correspondence from you (including by email, telephone, live chat, mail, fax or in person).

                <h3>
                    USE AND DISCLOSURE OF PERSONAL INFORMATION
                </h3>
                <p>
                    We use the Personal Information we collect to provide Users with a high level of service. In particular, we use Personal Information:

                    to email Event Organisers to activate their account;
                    to email information for which a User has subscribed;
                    to email a Customer to confirm a booking, ticket purchase or donation;
                    where an Event Organiser has elected to have a standby list for an event, we may notify Customers who requested they be placed on the standby list if a booking becomes available;
                    to deliver and improve the products and services we provide; and
                    to deal with queries from Users.
                    We will not share your Personal Information with third parties without your consent other than as set out in this Policy.

                    We may share Customers’ Personal Information with the Event Organiser for their associated booking including Personal Information that the Event Organiser has requested that we collect as part of their event, fundraising or other event-related registration requirements. This may include Sensitive Information, such as health information, which the Event Organiser has specifically requested and requires for their event. Event Organisers are not bound to treat your information in accordance with this Policy and you agree that we are not responsible for their actions. You should review the relevant Event Organiser’s applicable policies and terms and conditions before providing your Personal Information in relation to a particular booking, donation or registration.

                    We may also use your Personal Information (but not your Sensitive Information) for the purpose of displaying or publishing advertising on web pages that you access and, in the case of Event Organisers only, for sending you advertising and promotional material we think might be of interest to you. By submitting your contact details through our website, you consent to us displaying or sending such material to you. For material that we email to you, we provide a functional opt out facility with all promotional emails. You can let us know if you no longer wish to receive this sort of information by contacting use through Kandobay Contact Us page and we will remove your details from the distribution list.

                    We may disclose Personal Information to third party service providers (including IT service providers, data storage and handling facilities, payment systems operators, mail houses and legal or financial advisers) to the extent necessary for them to assist us in providing services to you.

                    We require our service providers to not use or disclose your Personal Information for any purpose other than the services for which they are engaged to provide.

                    We may disclose Personal Information to other persons or organisations if required to do so by the order of a court or tribunal or if the disclosure is otherwise authorised or required by law. For example, Personal Information may be disclosed where it is necessary to eliminate or minimise a risk to public health or safety, investigate or deal with unlawful activity or serious misconduct or establish or defend a legal claim.

                    We may disclose Personal Information to our employees insofar as is necessary for the provision of our products and services.

                    We generally do not disclose Personal Information to persons outside Australia (other than as expressly noted in this Policy).
                </p>

                <h3>
                    DIRECT MARKETING
                </h3>
                <p>
                    We do not engage in direct marketing with Customers.

                    For Subscribers and Event Organisers, we may use your Personal Information to provide you with further information about our products and services. Direct marketing from us generally takes the form of direct mail or electronic marketing (email, SMS, MMS, social media or other electronic means).

                    By submitting your contact details through our website or by opting-in to be contacted through our marketing materials, you consent to direct marketing to you of our products and services. We may continue to contact you indefinitely until you indicate otherwise.

                    If you do not wish to be contacted with such information, you may opt out of receiving our direct marketing at any time by contacting us through the Kandobay Contact Us page.
                </p>

                <h3>
                    RETENTION AND STORAGE OF COLLECTED INFORMATION
                </h3>

                <p>
                    For Event Organisers, we may retain your information for so long as you maintain an account with us.

                    Information that we collect for transactions that occur between Event Organisers and Customers via use of our site will be retained by us for a period of up to 10 years. After this period has expired, these transactions will be deleted or archived from our systems.

                    Any Personal Information that may be used by our site in order to carry out its necessary functions is stored on a secured server.

                    Our applications may need to read Personal Information in order to carry out necessary functions such as sending email notifications to account holders, etc.

                    We will take all reasonable measures to ensure the security of your Personal Information. However, given the sophistication of computer hackers, we cannot make any absolute guarantee that our systems will never be accessed without our consent or that our systems are impenetrable.
                </p>

                <h3>
                    ACCESS TO AND CORRECTION OF PERSONAL INFORMATION
                </h3>

                <p>
                    Subject to any legal restrictions, we will let you know what Personal Information we hold about you if you ask us to. If your request is particularly complex, or requires detailed searching of our records, there may be a cost to you in order for us to provide this information.

                    If you believe there are errors in our records about you, please let us know and we will investigate and correct any inaccuracies.

                    All requests for access to Personal Information held by us can be made through Kandobay Contact Us page.
                </p>

                <h3>
                    COMPLAINTS AND HOW TO CONTACT US
                </h3>

                <p>
                    If you believe your privacy has been interfered with and wish to make a complaint, please contact use through Kandobay Contact Us page.
                </p>

                <h3>
                    CHANGES TO PRIVACY POLICY
                </h3>

                <p>
                    We reserve the right to modify this Policy at any time, so please review it frequently
                </p>
            </div>

        </div>
    </div>
</div>

