@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Classifieds Home - Find everything you're looking for right here";
}

<div class="container top-buffer-60">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_Terms")
        </div>
    </div>    
</div>

