<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ClassifiedConnection" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" />
    <add name="AppUserConnection" connectionString="Data Source=localhost;Initial Catalog=AppUser;Integrated Security=True" />
    <add name="LogDbConnection" connectionString="Data Source=localhost;Initial Catalog=Logs;Integrated Security=True" />
    <add name="BroadcastConnection" connectionString="Data Source=localhost;Initial Catalog=Broadcast;Integrated Security=True" />
    <add name="DocumentConnection" connectionString="Data Source=localhost;Initial Catalog=DocumentStorage;Integrated Security=True" />
    <add name="EventsConnection" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="StripeApiKey" value="sk_test_5f2Omvc7oXKyO8eIiZ3VAKKw" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>