/* CSS Document */

.bookingpage-pageContainer
{
    width: 920px;
}
        
.bookingpage-bookingHeaderContainer
{
    margin: 20px 0px 0px 20px;
}
        
.bookingpage-bookingHeaderImg
{
    border-bottom: 1px solid #c3c3c3;
}
        
.bookingpage-bookingHeaderText
{
    border-bottom: 1px solid #c3c3c3;
	font-weight: bold;
	color: #333;
	margin: 0;
}
        
.bookingpage-bookingContentWrapper
{
    background: url(../images/mainBorderBg2_SearchResults.gif) repeat-y 0px 20px;
    margin: 0px 0px 0px 20px;
    padding: 20px 0px 20px 10px;
}

.bookingpage-BookingContent
{
    width: 600px;
    display: inline-block;
}

.bookingpage-BookingContent h1
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	line-height: 1.6em;
	margin: 0px;
	color: #333333;
}

.bookingpage-BookingSideContent
{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    overflow: hidden;
}
        
.bookingpage-ButtonNavContainer
{
    margin: 38px 0 0 0;
	width: 750px;
	display: block;
	overflow: hidden;
}
        
.bookingpage-ButtonsNav
{
    float: right;
}
        
.bookingpage-ButtonsNav ul
{
    margin: 0px;
	padding: 0px;
	list-style-type: none;
}
        
.bookingpage-ButtonsNav li
{
    display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 74px;
	margin-left: 5px;
}
        
.bookingpage-ButtonsNav a 
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	line-height: 15px;
	font-weight: bold;
	color: #fff;
	background: url(../images/my_account_ads_EXTEND.gif) no-repeat;
	margin: 0px;
	padding: 4px 0 0 0;
	height: 15px;
	display: block;
	text-align: center;
	text-decoration: none;
}
        
.bookingpage-ButtonsNav a:hover
{
	background: url(../images/my_account_ads_EXTEND.gif) no-repeat -74px;
}
        
.bookingpage-ButtonsCancel
{
    margin-top: 10px;
    width: 74px;
}
        
.bookingpage-ButtonsCancel a
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	line-height: 15px;
	font-weight: bold;
	color: #fff;
	background: url(../images/my_account_ads_CANCEL.gif) no-repeat;
	margin: 0px;
	padding: 0px;
	height: 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding-top: 4px;
}
        
.bookingpage-ButtonsCancel a:hover
{
	background: url(../iimages/my_account_ads_CANCEL.gif) no-repeat -74px;
}
        
