
/* CSS Document */

.specialOfferTitle {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 520px;
	display: block;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
	color: #000;
	display: block;
	font-weight: bold;
}
.specialOfferDescription {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 520px;
	display: block;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	line-height: 1.2em;
	color: #333333;
	display: block;
}
.specialOfferPrice {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 300px;
	display: block;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.1em;
	color: #FF0000;
	display: block;
	font-weight: bold;
}
.specialOfferOtherInfo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 150px;
	display: block;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.1em;
	margin-right: 10px;
	color: #333333;
	font-weight: bold;
}
.specialOfferOtherInfoBold {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 350px;
	display: block;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.1em;
	margin-right: 10px;
	color: #333333;
	font-weight: bold;
}
.specialButton {
	margin: 0px;
	padding: 0px;
	height: 19px;
	width: 109px;
	display: block;
	float: right;
	margin-top: 10px;
}
.specialButton a {
	margin: 0px;
	padding: 0px;
	font-size: 0.85em;
	line-height: 19px;
	font-weight: bold;
	float: right;
	display: block;
	color: #fff;
	width: 109px;
	height:19px;
	text-align:center;
	text-decoration:none;
	background: url(../images/book_ad_wordcount_but.jpg) no-repeat;
}
.specialButton a:hover {
	margin: 0px;
	padding: 0px;
	font-size: 0.85em;
	line-height: 19px;
	font-weight: bold;
	float: right;
	display: block;
	color: #fff;
	width: 109px;
	height:19px;
	text-align:center;
	text-decoration:none;
	background: url(../images/book_ad_wordcount_but.jpg) no-repeat -109px;
}
.spacerSpecial {
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 5px;
	width: 520px;
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 25px;
	margin-top: 5px;
}
.spacerBookAdHead {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 28px;
	width: 400px;
	float: left;
}
.spacerSpecialBreak {
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 2px;
	width: 520px;
}
.spacerSpecialCategory {
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 5px;
	width: 710px;
	border-bottom: 2px solid #333;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left:20px;
}
#bookAdMainCategoryButton {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 190px;
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}
#bookAdMainCategory {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 520px;
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}
#bookAdMainCategory  h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1em;
	margin: 0px;
	padding: 10px 10px 0px 0px;
	color: #333333;
	display: block;
	float: left;
}

.help-context
{
    cursor:pointer;
}

.help-content-panel
{
    width:170px;
    border: solid 2px #38ACEC;
    color:#333333;
        padding:5px 5px 5px 5px;
        background-color:#fff;
        display:none;
        margin-left:95px;
}

.help-content-panel .text-wrapper
{

    margin-bottom:10px;
    font-size:10px;
}

.spacerBookAd div
{
    float:right;
}

.help-context-panel
{
    padding:1px 10px 0 0;
    margin-bottom:6px;
}

.upload-help .image-panel
{
    padding:20px 10px 0 0 ;
    height:20px;
    vertical-align:bottom;
}