<div data-bind="visible: groupsRequired() === false">
    <ul class="list-group" data-bind="foreach: availableTickets">
        <li class="list-group-item" data-bind="attr : {'data-ticket-name' : ticketName}">
            <ticket-selection params="ticket: $data"></ticket-selection>
        </li>
    </ul>

    <div class="alert alert-warning" data-bind="visible: displayNoSelectedTickets">
        Please select at least one ticket before ordering.
    </div>

    <div class="text-right">
        <button class="btn btn-primary btn-block" data-loading-text="Please Wait..."
                data-bind="click: saveAndOrder" id="btnGetTickets">
            Order Tickets <i class="fa fa-arrow-right"></i>
        </button>
    </div>
</div>