<div data-bind="visible: groups().length > 0 && groupsRequired() === true">
    <p>
        Please select your group:
    </p>


    <ticket-selection params="eventId: 11, eventGroupId: 9"></ticket-selection>

    <ul class="list-group group-button-options" data-bind="foreach: groups">
        <li class="list-group-item">
            <button class="btn btn-primary btn-block" data-bind="click: selectGroup">
                <span data-bind="text: groupNameWithCount"></span>
            </button>
        </li>
    </ul>
</div>