@model dynamic


@{
    ViewBag.Title = "Event organisation invite";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
}

<div class="container top-buffer-60" id="manageOrganisers">
    <h2 class="page-header">
        Hello 
    </h2>
    <p>
        Congratulations, you now have access to manage the event.
        Click here to access the dashboard.
    </p>
   
</div>


