@model AcceptOrganiserInviteViewModel


@{
    ViewBag.Title = "Event organisation invite";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
}

<div class="container top-buffer-60" id="manageOrganisers">
    @if (Model.BadRequest)
    {
        <div class="alert alert-danger">
            <h3>
                <i class="fa fa-warning"></i> Hmmmmm .... There seems to be a
                problem with your request. Some information is
                missing or no longer valid.
            </h3>

        </div>
    }
    else
    {
        <h2 class="page-header">
            Hi
        </h2>

        if (Model.IsSuccessful)
        {
            <p>
                Congratulations, you now have access to manage the
                event <a href="@Model.EventUrl">@Model.EventName</a>.
            </p>
        }
    }
</div>