@model AcceptOrganiserInviteViewModel


@{
    ViewBag.Title = "Event organisation invite";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
}

<div class="container top-buffer-60" id="manageOrganisers">
    <h2 class="page-header">
        Hi 
    </h2>
    @if (Model.IsSuccessful)
    {
        <p>
            Congratulations, you now have access to manage the event <a href="@Model.EventUrl">
                @Model.EventName
            </a>. If you have any issues please contact the event administrator.
        </p>
    }
   
</div>


