@model AcceptOrganiserInviteViewModel


@{
    ViewBag.Title = "Event organisation invite";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
}

<div class="container top-buffer-60" id="manageOrganisers">
    @if (Model.BadRequest)
    {
        <div class="alert alert-danger">
            <h3>
                <i class="fa fa-warning"></i> Hmmmmm .... There seems to be a
                problem with your request. Some information is
                missing or no longer valid.
            </h3>

        </div>
    }
    else
    {
        if (Model.IsSuccessful)
        {
            <h3 class="page-header">
                Access Granted
            </h3>

            <div class="alert alert-success">
                <strong><i class="fa fa-check"></i> Congratulations,</strong> you now have access to manage the event @Model.EventName.
            </div>

            <div>
                <a class="btn btn-default" href="@Model.EventUrl">Go to Event Dashboard</a>
            </div>
        }
        else if (Model.AlreadyActivated)
        {
            <h3 class="page-header">
                Duplicate invite detected
            </h3>

            <div class="alert alert-warning">
                Hmmmm. It seems that this invite has already been used. Contact the 
                event organiser to get another invite!
            </div>
        }
        else if (Model.WrongEmail)
        {
            <h3 class="page-header">
                Mismatched email invite
            </h3>

            <div class="alert alert-danger">
                The invited email address does not match the currently logged in email address.
            </div>
        }
    }
</div>