@model BookTicketsViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}
@section scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());

        $paramount.ui.bookTickets.init({
            data : model
        });
    </script>
}
<div id="bookTicketsView" class="event-book-tickets">
    <h2>Book Your Tickets</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-ticket"></i>&nbsp; Tickets</h4>
            </div>

            <div class="alert alert-warning">
                Your tickets have been reserved. Please confirm your ticket selection
                and complete your details. You have @Model.ReservationExpiryMinutes minutes for your reservation.<strong>
                </strong>
            </div>

            <div class="alert alert-warning text-center alert-count-down">
                Time Left:
                <span data-bind="text: minsRemaining"></span>:<span data-bind="text: secondsRemainingDisplay"></span>
            </div>

            <div class="bs-callout bs-callout-info">
                <h4><i class="fa fa-anchor"></i> &nbsp; @Model.Title</h4>
            </div>
            <p></p>
        </div>
    </div>

</div>
