@model BookTicketsViewModel

@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

@section scripts
{
    <script>
        $paramount.ui.bookTickets.init();
    </script>
}

<div id="bookTicketsView">
    <h2>Book Your Tickets</h2>



</div>

