@model EventBookedViewModel

@{
    ViewBag.Title = "Tickets Booked Successfully";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

<h1>
    Done! Your tickets have been booked for the event @Model.Title
</h1>

<p>The tickets have been emailed to the address @Model.EmailAddress</p>

<p>Todo > Print the tickets</p>
<p>Todo > invite your friends know</p>
