@model EventBookedViewModel

@{
    ViewBag.Title = "Tickets Booked Successfully";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1>Done</h1>
            <p>
                You are going to <strong>@Model.Title</strong>
            </p>
        </div>
        <p>
            Go ahead and check your email <strong>@Model.EmailAddress</strong>. You should get your tickets and print them at will.
            Should you have any issues, don't hesitate to contact the organiser @Model.OrganiserName @Model.OrganiserEmail
        </p>
        <div class="alert alert-info">
            Share with friends: Email, Facebook, Twitter, Google Plus etc etc
        </div>
    </div>
</div>