@model GroupSelectionViewModel

@{
    ViewBag.Title = "Select a Group";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>

        $(function() {
            var data = @Html.Raw(Model.ToJsonString());
            var rootNode = $('#eventGroupSeletion')[0];
            var model = new $paramount.models.EventGroupSelector(data);
            ko.applyBindings(model, rootNode);
        })
    </script>
}

<div class="container top-buffer-60">
    <div class="row" id="eventGroupSelection">
        <div class="col-xs-12">
            <h2>Group Selection</h2>
        </div>

        <div class="col-xs-12">
            <div class="row" data-bind="foreach: eventBookingTickets">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-ticket"></i> <span data-bind="text: friendlyTicketName"></span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-lg">
                                <label class="control-label">
                                    Available Groups:
                                </label>
                                <div class="input-group">
                                    <select class="form-control input-lg"
                                            data-bind="options: groups, optionsText: 'groupName', value: selectedGroup, optionsCaption: 'Un-Assigned...', event:{ change: groupChanged}"></select>
                                    <div class="input-group-addon">
                                        <h4>
                                            <i data-bind="visible: isGroupSelected() === false" class="fa fa-times-circle-o"></i>
                                            <i data-bind="visible: isGroupSelected" class="fa fa-check-circle-o"></i>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 text-right">
            <button class="btn btn-primary" data-bind="click: submit">
                Submit <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>