@model dynamic

@{
    ViewBag.Title = "Tickets Booked Successfully";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

<h1>
    Done! You have booked the tickets to the event @Model.Title
</h1>

<p>Todo > Print the tickets</p>
<p>Todo > invite your friends know</p>
