@model Guid

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    Hello World
    
    <img src="@Url.Image(Model.ToString(), 250, 250)" alt="Magic"/>
</div>
</body>
</html>