@seatHeightWidth: 30px;
@seatLineHeight: 28px;
@disabled: #eee;
@selected: #19b174;

.seat-selector {

    .ticket-summary {
        padding: 5px;
        vertical-align: middle;
        display: inline-block;

        span {
            height: 100%;
            vertical-align: middle;
            display: inline-block;
        }

        .ticket-legend {
            width: @seatHeightWidth;
            height: @seatHeightWidth;
            border-radius: 10%;
            background-color: @disabled;
            display: inline-block;
            text-align: center;
            vertical-align: middle;

            i {
                margin: auto;
                line-height: @seatLineHeight;
            }
        }

        .ticket-name {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .venue-layout {
        border: 1px solid #eee;
        margin-top: 20px;
        padding: 20px;

        .row-col {
            padding: 10px 0;
        }

        .seats-col {
            text-align: center;
            padding: 5px 0;

            .seat {
                border: 2px solid @disabled;
                height: @seatHeightWidth;
                width: @seatHeightWidth;
                border-radius: 10%;
                margin: auto;
                display: inline-block;
                text-align: center;
                padding: 4px 0;
                cursor: pointer;
                background-color: @disabled;

                &.selected {
                    border: 2px solid @selected;
                }
            }
        }
    }

    .selected-items {
        .ticket-info{
            font-size: 1.3em;
            padding-top: 5px;
        }
    }
}
