<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Paramount.DataService.Properties.Settings.AppUserConnectionString" connectionString="Data Source=WIN-I9X3V5RE5I9;Initial Catalog=AppUserDev;Integrated Security=True" />
    <add name="Paramount.DataService.Properties.Settings.ParamountCoreConnectionString" connectionString="Data Source=paramountit.com.au;Initial Catalog=ParamountCore;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.DataService.Properties.Settings.ApplicationUserConnectionString" connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.DataService.Properties.Settings.ApplicationUserConnectionString1" connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.DataService.Properties.Settings.iFlogConnectionString" connectionString="Data Source=localhost;Initial Catalog=iFlog;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.AppUserConnectionString" connectionString="Data Source=WIN-I9X3V5RE5I9;Initial Catalog=AppUserDev;Integrated Security=True" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.ParamountCoreConnectionString" connectionString="Data Source=paramountit.com.au;Initial Catalog=ParamountCore;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.ApplicationUserConnectionString" connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.ApplicationUserConnectionString1" connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.iFlogConnectionString" connectionString="Data Source=localhost;Initial Catalog=iFlog;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.iFlogConnectionString1" connectionString="Data Source=paramountit.com.au;Initial Catalog=iFlog;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.LIVE_iFlog_v106ConnectionString" connectionString="Data Source=dexterii;Initial Catalog=LIVE-iFlog-v106;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.iFlogAppUserConnectionString" connectionString="Data Source=localhost;Initial Catalog=iFlogAppUser;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Paramount.Betterclassifieds.DataService.Properties.Settings.ClassifiedsConnectionString" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
