@using Paramount.ApplicationBlock.Mvc
@model List<Paramount.Betterclassifieds.Presentation.Models.AdSummaryView>

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="row top-buffer-20">
    <div class="col-md-12">
        <div class="breadcrumb">Latest Ads</div>
    </div>
</div>
