@model dynamic
<head>
    <title>this is the new title for everything in MVC!</title>
    <link href="http://localhost/iflog/App_Themes/iflog/css/main_1024.css" rel="stylesheet" />
</head>
<body>
    <div>
        This is a sample home page
    </div>
</body>