<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="paramount">
    <section name="services" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
    <section name="membership" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
  </sectionGroup>
  </configSections>
  <appSettings >
    <add key="ClientCode" value="P000000005" />
    <add key="ConfigurationContext"  value="Local" />
    <add key="ApplicationName" value="TaskScheduler" />
    <add key="BaseUrl" value="http://localhost/iFlog"/>
  </appSettings>
  <paramount>
    <services>
      <milieu context="Local">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="broadcastService" value="http://localhost/iFlogServices/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="betterclassifiedService" value="http://localhost/iFlogServices/Nodes/BetterclassifiedsWebService.svc" credential="CPPc8esPS4A="/>
        <add key="ParamountLogConnection" value="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True;Integrated Security=True" />
      </milieu>
    </services>
  </paramount>
</configuration>