<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationContext" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="Test">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="broadcastService" value="http://localhost/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="betterclassifiedService" value="http://localhost/Nodes/BetterclassifiedsWebService.svc" credential="CPPc8esPS4A="/>
        <add key="ParamountLogConnection" value="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=sa; Password=rs-101" />
      </milieu>
    </services>
  </paramount>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint
          address="http://iflog01.paramountit.com.au/Service/NotificationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="NotificationServiceSoap1"
          contract="NotificationService.NotificationServiceSoap" name="NotificationServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>