<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationContext" value="Live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://classies.themusic.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="BetterclassifiedsConnection"
         connectionString="Data Source=111.67.15.17; Initial Catalog=LIVE-iFlog-v106;Persist Security Info=True;User ID=sa; Password=spress"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
    
  </connectionStrings>
  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="Live">
        <add key="Betterclassifieds" value="Data Source=111.67.15.17;Initial Catalog=LIVE-iFlog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True;User ID=sa;Password=spress" />        
      </milieu>
    </services>
    <broadcast>
      <add key="ConnectionString" value="Data Source=111.67.15.17;Initial Catalog=Broadcast;Persist Security Info=True; User ID=sa; Password=spress" />
    </broadcast>
  </paramount>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>