<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationContext" value="Live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://www.iflog.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="Live">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="broadcastService" value="http://localhost/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="betterclassifiedService" value="http://localhost/Nodes/BetterclassifiedsWebService.svc" credential="CPPc8esPS4A="/>
        <add key="ParamountLogConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True;User ID=sa;Password=spress" />
      </milieu>
    </services>
  </paramount>
</configuration>