@color_primary: #228b22;
@color_secondary: #fafafa;
@font-color: #333333;


html {
    font-size: 12px;
}

body {
    font-size: 17px;
}

.userads-cmd-panel {
    a, a:hover {
        color: #fff;
    }
}

.alert-warning {
    background-color: #c27802;
}

.event-dashboard {
    span {
        &.badge {
            color: #fff;
            background-color: @color_primary;
        }
    }
}


/*
    Event Details
*/

.event-details {

    .event-title {
        color: @font-color;
    }
}

/*
    Masthead
*/

.mast-head {
    color: #fff;
    background-image: linear-gradient(to bottom,@color_primary 0,@color_primary 100%);
    padding: 80px 0;

    a {
        color: #fff;
        text-decoration: none;

        :hover {
            text-decoration: none;
        }
    }

    h1 {
        font-size: 70px;
    }
}

/*
    home featured
*/

.home-featured {
    background-color: @color_secondary;


    .col-item {
        border: 1px solid #E1E1E1;
        background: #FFF;
    }
}

/*
    Footer
*/
.footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;
    }
}
