<div class="panel panel-primary" id="contactAdvertiserForm">
    <div class="panel-heading">
        <h4><i class="fa fa-user"></i> Contact the organiser</h4>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <form data-bind="submit: sendMsg, visible: submitted() === false">
            <div class="panel-body">
                <p>
                    Need more information? Leave a message for the organiser and they will
                    be notified immediately.
                </p>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control input-lg" type="text" placeholder="Your Name" data-bind="value: name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control input-lg" type="text" placeholder="Your Email" data-bind="value: email" />
                </div>
                <div class="form-group">
                    <label class="control-label">Question</label>
                    <input class="form-control input-lg" type="text" placeholder="Your Question" data-bind="value: message" />
                </div>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary pull-right">Submit</button>
            </div>
        </form>

        <div class="alert alert-success" data-bind="visible: submitted === true">
            Your message has been sent successfully!
        </div>
    }
    else
    {
        <div class="panel-body">
            <p>
                Please
                <a href="@Url.Action("Login", "Account")">
                    login or register
                </a>
                to leave a message for the organiser.
            </p>
        </div>
    }
</div>

<script>
    $(function () {
        var contactForm = new $paramount.models.ContactAdvertiser(
            @Model.AdId,
            '@Url.Action("AdEnquiry", "Listings")');
        ko.applyBindings(contactForm, document.getElementById('contactAdvertiserForm'));
    });
</script>