<h3>Sri Lankan Events Terms and Conditions</h3>

<p>
    The following Terms and Conditions apply to the Sri Lankan Events online services ('the Service') and govern the relationship between Sri Lankan Events Pty or its subsidiaries (Sri Lankan Events) and you ('User'). It is a condition of use of the Service that you comply with these Terms and Conditions.  By accepting these Terms and Conditions you warrant that you are over 18 years of age, or have obtained the consent of a responsible adult prior to using the Service.
</p>

<h4>1. Payment Obligations</h4>
<p>
    User agrees to pay for the use of the Service according to the rates specified by Sri Lankan Events on the booking Screen if the User selects to pay by credit card or PayPal. In particular, the User must pay all Service charges and other amounts incurred as a result of use of Service by a person using the User's username or password (whether authorised or not). Delinquent accounts, usernames or passwords may be suspended or cancelled at Sri Lankan Events’s sole discretion.
</p>
<h4>
    2. GST Payment
</h4>
<p>
    The User agrees to pay all goods and services taxes, duties, or levies, which are required to be charged by Sri Lankan Events in providing the Service.
</p>
<h4>
    3. Payment Terms
</h4>
<p>
    The User must pay all amounts billed in accordance with the selected payment method. Upon provision of Credit Card details, the User gives Sri Lankan Events authorisation to charge all fees incurred for use of the Service to the credit card, disclose the credit card details to, and obtain information from, any financial institution or credit card issuer to verify the credit card details, plus take steps to verify that there is sufficient credit on the credit card account to meet likely fees. Sri Lankan Events is not responsible for any charges or expenses (e.g. for overdrawn accounts, exceeding credit card limits, etc.) resulting from charges billed by Sri Lankan Events.
</p>
<h4>
    4. Limitation of Liability & Indemnity
</h4>
<p>
    4.1 Except for certain services specifically identified as being offered by Sri Lankan Events, Sri Lankan Events does not control any materials, information, products, or services on the Internet. The Internet contains unedited materials, some of which are sexually explicit and potentially offensive. Sri Lankan Events has no control over and accepts no responsibility for such materials. The User assumes full responsibility and risk for the use of the Service and the Internet, and is solely responsible for evaluating the accuracy, completeness and usefulness of all services, products and other information, and the quality and merchantability of all merchandise provided through the Service
</p>
<p>
    4.2 Sri Lankan Events provides the Service on an "As Is" and "As Available" basis. Sri Lankan Events does not warrant that the Service will be uninterrupted, error-free, or free of virus or other harmful components. Sri Lankan Events makes no express warranties and the User waives all implied warranties including, but not limited to warranties of title, non-infringement, merchantability, and fitness for a particular purpose regarding any merchandise, information or service provided by Sri Lankan Events.
</p>
<p>
    4.3 User expressly acknowledges that there are security, privacy and confidentiality risks inherent in online communications through technology and Sri Lankan Events does not make any assurances or warranties relating to such risks. No advice or information given by Sri Lankan Events or its representatives shall create a warranty. The User takes full responsibility to ensure security and privacy of their own information, hardware and software.
</p>
<p>
    4.4 To the maximum extent permitted by law, Sri Lankan Events excludes all liability in tort, including negligence, breach of statute, breach of contract or otherwise for any costs, loss or direct, indirect, incidental, special or consequential damages, including damages for loss of business revenue or profits, business interruption, loss of or disclosure of business information and similar losses, arising out of or in connection with the use, delayed use or inability to use the Service or goods, even if Sri Lankan Events has been advised of the possibility of such damages. Where legislation restricts exclusion of liability for breach of an implied warranty or term, to the maximum extent permitted, Sri Lankan Events's liability for breach of such warranty or term shall be to resupply the services or pay the cost of such resupply and shall be limited to amounts paid by the User for the Service on a particular occasion.
</p>
<p>
    4.5 The User indemnifies Sri Lankan Events and its representatives against any loss (including any loss of profit) incurred by Sri Lankan Events as a result of the User's use of the Service or any breach of these Terms and Conditions.
</p>
<h4>
    5. Acceptable Use Policy
</h4>
<p>
    5.1 All Users of the Services agree to comply with this Acceptable Use Policy ('AUP'). Sri Lankan Events does not actively monitor the use of the Service or review content of any Web site, email or other material created or accessed via the Service under normal circumstances. However, Sri Lankan Events may monitor such material if Sri Lankan Events suspects that a User has breached this AUP and in addition may remove, block, filter or restrict by any means any materials that, in our sole discretion, may be illegal, may subject Sri Lankan Events to liability or may violate this AUP. Sri Lankan Events may cooperate with legal authorities and/or third parties in the investigation of any suspected or alleged crime or civil wrong. Violation of this AUP may result in the suspension or termination of either access to the Service and/or Sri Lankan Events charging the User for administrative costs and/or reactivation charges or bringing legal action to enjoin violations and/or to collect damages caused by violations.
</p>
<p>
    5.2 The following constitute violations of this AUP. User agrees not to use the Service to:
    <ul>
        <li>Transmit any material (by uploading, posting, email or otherwise) that is unlawful, threatening, abusive, harassing, defamatory, obscene, libelous, invasive of another's privacy, hateful or racially, ethnically or otherwise objectionable; or that the User does not have a right to make available; or that contains any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes" or any other form of solicitation; or that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
        <li>Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to or accessed through the Service.</li>
        <li>Violate any applicable local, state, national or international laws.</li>
        <li>Resell the Service without Sri Lankan Events's authorisation.</li>
        <li>Use the Service for high volume data transfers, especially sustained high volume data transfers</li>
        <li>Impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; forge headers or otherwise manipulate identifiers in order to disguise the origin of any material posted or transmitted through the Service.</li>
    </ul>
</p>

<h4>6. Suspension of Service</h4>
<p>
    Sri Lankan Events may from time to time without notice suspend the Service or deny the User access to the Service:
    <ul>
        <li>during any technical failure, modification or maintenance involved in the Service provided that Sri Lankan Events will use reasonable endeavours to procure the resumption of the Services as reasonably practicable; or</li>
        <li>if the User fails to comply with any obligation under these Terms and Conditions or Acceptable Use Policy or if Sri Lankan Events, at its sole discretion, believes that such a breach has occurred, until the breach (if capable of remedy) is remedied. Notwithstanding any suspension of the Service under this clause the User shall remain liable for all charges incurred through the use of the Service.</li>
    </ul>
</p>
<h4>
    7. Legal Jurisdiction
</h4>
<p>
    The laws of Victoria, Australia govern these Terms and Conditions and the parties submit to the jurisdiction of the Courts of that state. 
</p>