<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paramount.DataService.Properties.Settings.AppUserConnectionString"
            connectionString="Data Source=WIN-I9X3V5RE5I9;Initial Catalog=AppUserDev;Integrated Security=True" />
        <add name="Paramount.DataService.Properties.Settings.ParamountCoreConnectionString"
            connectionString="Data Source=paramountit.com.au;Initial Catalog=ParamountCore;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Paramount.DataService.Properties.Settings.ApplicationUserConnectionString"
            connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Paramount.DataService.Properties.Settings.ApplicationUserConnectionString1"
            connectionString="Data Source=paramountit.com.au;Initial Catalog=AppUser;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>