<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ConfigurationContext" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://ci-iflog.paramountit.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DslCacheDirectory" value="C:\Paramount\WebImageMakerCache\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <paramount xdt:Transform="Replace">   
    <dsl>
      <!--<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DocumentStorage;User ID=sa; Password=rs-101"/>-->
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="32768"/>
      <add key="MaxImageUploadBytes" value="5000000" />
      <add key="AcceptedFileTypes" value="image/jpeg|image/png|image/gif" />
    </dsl>
  </paramount>

  <ccPaymentGateway xdt:Transform="Replace"
      gatewayUrl="https://transact.nab.com.au/test/hpp/payment"
		  returnLinkText="Return to iFlog"
		  returnLinkUrl="http://ci-iflog.paramountit.com.au/Booking/Success.aspx"
		  replyLinkUrl="http://ci-iflog.paramountit.com.au/payment/notify.aspx"
		  gstIncluded="TRUE"
		  gstRate="10.00"
		  paymentReference="7777"
		  paymentAlertEmail="dejanvasic@outlook.com"
		  vendorName="XYZ0010"
		  refundPolicyUrl="http://ci-iflog.paramountit.com.au/Terms.aspx" />

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Paramount\MailDrop\"/>
      </smtp>
    </mailSettings>
  </system.net>

  <elmah>
    <security allowRemoteAccess="true" xdt:Transform="SetAttributes" />
  </elmah>
  
</configuration>