<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AppUserConnection" 
         connectionString="Data Source=111.67.15.17;Initial Catalog=UAT-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="ConfigurationContext" value="TEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DslCacheDirectory" value="C:\Paramount\WebImageMakerCache\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="TEST">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="BetterclassifiedsConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-iFlog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ParamountLogConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        
        <add key="dslService" value="http://localhost/Nodes/DslService.svc" credential="CPPc8esPS4A="/>
        <add key="broadcastService" value="http://localhost/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="accountProfileService" value="http://localhost/Nodes/UserAccountWebService.svc" credential="CPPc8esPS4A="/>
        <add key="logService" value="http://localhost/Nodes/LogService.svc" credential="CPPc8esPS4A="/>
        <add key="betterclassifiedService" value="http://localhost/Nodes/BetterclassifiedsWebService.svc" credential="CPPc8esPS4A="/>
      </milieu>
    </services>
    <dsl>
      <miliue>
        <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
        <add key="IsServerImageCaching" value="true" />
        <add key="ImageHandlerUrl" value="http://localhost/Dsl/ImageHandler.ashx" />
        <add key="DefaultDslResolution" value="90" />
      </miliue>
    </dsl>
  </paramount>

  <paypal xdt:Tranform="Replace"
      BusinessEmail="timast_1242828853_biz@gmail.com"
			SuccessUrl="http://iflog01.paramountit.com.au/Booking/Success.aspx"
			CancelPurchaseUrl="http://iflog01.paramountit.com.au/Booking/Step5.aspx"
			NotifyUrl="http://iflog01.paramountit.com.au/payment/notify.aspx"
			SendToReturnURL="true" CurrencyCode="AUD"
			PayPalUrl="https://www.sandbox.paypal.com/cgi-bin/webscr"/>

  <ccPaymentGateway xdt:Tranform="Replace"
      gatewayUrl="https://transact.nab.com.au/test/hpp/payment"
		  returnLinkText="Return to iFlog"
		  returnLinkUrl="http://iflog01.paramountit.com.au/Booking/Success.aspx"
		  replyLinkUrl="http://iflog01.paramountit.com.au/payment/notify.aspx"
		  gstIncluded="TRUE"
		  gstRate="10.00"
		  paymentReference="7777"
		  paymentAlertEmail="dejanvasic@outlook.com"
		  vendorName="XYZ0010"
		  refundPolicyUrl="http://iflog01.paramountit.com.au/Terms.aspx" />
  
</configuration>