<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AppUserConnection"
         connectionString="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>

    <add name="LogConnection"
         connectionString="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ConfigurationContext" value="LIVE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="https://classies.themusic.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SupportGeneralEnquiry" value="incoming@iflog.com.au;support@paramountit.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportTechnical" value="incoming@iflog.com.au;support@paramountit.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportSalesBilling" value="incoming@iflog.com.au;support@paramountit.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SupportFeedback" value="incoming@iflog.com.au;support@paramountit.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="LIVE">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="BetterclassifiedsConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-iFlog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=LIVE-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />

        <add key="broadcastService" value="http://localhost/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="accountProfileService" value="http://localhost/Nodes/UserAccountWebService.svc" credential="CPPc8esPS4A="/>
        <add key="betterclassifiedService" value="http://localhost/Nodes/BetterclassifiedsWebService.svc" credential="CPPc8esPS4A="/>
      </milieu>
    </services>
    <dsl>
      <add key="ConnectionString" value="Data Source=111.67.15.17;Initial Catalog=LIVE-ParamountCore-v106;Persist Security Info=True; User ID=sa; Password=spress" />
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache\" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="32768"/>
    </dsl>
  </paramount>

  <modulesRegistration>
    <modules>
      <module name="PresentationModule" physicalpath="../../Betterclassifieds.NextG/{version}" xdt:Transform="SetAttributes(physicalpath)" xdt:Locator="Match(name)"  />
    </modules>
  </modulesRegistration>

  <paypal xdt:Transform="Replace"
      BusinessEmail="Paypal@streetpress.com.au"
		  SuccessUrl="https://classies.themusic.com.au/Booking/Success.aspx"
		  CancelPurchaseUrl="https://classies.themusic.com.au/Booking/Step5.aspx"
		  NotifyUrl="https://classies.themusic.com.au/payment/notify.aspx" SendToReturnURL="true" CurrencyCode="AUD"
		  PayPalUrl="https://www.paypal.com/cgi-bin/webscr" />

  <ccPaymentGateway xdt:Transform="Replace"
      gatewayUrl="https://transact.nab.com.au/live/hpp/payment"
		  returnLinkText="Return to iFlog"
		  returnLinkUrl="https://classies.themusic.com.au/Booking/Success.aspx"
		  replyLinkUrl="http://classies.themusic.com.au/payment/notify.aspx"
		  gstIncluded="TRUE"
		  gstRate="10.00"
		  paymentReference="7777"
		  paymentAlertEmail="Paypal@streetpress.com.au"
		  vendorName="IFG0010"
		  refundPolicyUrl="http://classies.themusic.com.au/Terms.aspx" />

  <system.web>

    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>

    <customErrors mode="On" xdt:Transform="SetAttributes(mode)">
    </customErrors>

  </system.web>
</configuration>