<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="paypal" type="Paramount.Betterclassified.Utilities.PayPal.PayPalConfigurationHandler, Paramount.Betterclassified.Utilities" />
    <section name="ccPaymentGateway" type="Paramount.Betterclassified.Utilities.CreditCardPayment.CreditCardGatewayConfigurationHandler, Paramount.Betterclassified.Utilities" />
    <section name="broadcastService" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
    <section name="modulesRegistration" type="Paramount.ApplicationBlock.Mvc.Configuration.ModuleRegistrationSection" />
    <sectionGroup name="paramount">
      <section name="services" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
      <section name="dsl" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
      <section name="broadcast" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AppUserConnection" connectionString="#placeholder only...Real connection string is loaded on init in ClassifiedSqlMembershipProvider#" />
    <!--Todo - get rid of this crap-->
    <add name="LogConnection" connectionString="Data Source=localhost;Initial Catalog=iFlogLogs;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="ConfigurationContext" value="local" />
    <add key="ApplicationName" value="Betterclassifieds" />
    <add key="Version" value="{version}" />
    <add key="ExposeCaptchaValue" value="True"/>
    <add key="WebAdSpaces" value="True" />
    <add key="BaseUrl" value="http://localhost/iFlog" />
    <add key="PublisherHomeUrl" value="http://themusic.com.au/" />
    <add key="SupportGeneralEnquiry" value="dejanvasic@outlook.com" />
    <add key="SupportTechnical" value="dejanvasic@outlook.com" />
    <add key="SupportSalesBilling" value="dejanvasic@outlook.com" />
    <add key="SupportFeedback" value="dejanvasic@outlook.com" />
    <add key="DslImageUrlHandler" value="~/Image/View.ashx" />
    <add key="ClientCode" value="P000000005" />
    <add key="DslThumbWidth" value="80" />
    <add key="DslThumbHeight" value="80" />
    <add key="DslDefaultResolution" value="90" />
    <add key="DslCacheDirectory" value="C:\Paramount\WebImageMakerCache\" />
    <add key="LineAdImageHeight" value="1.10236" />
    <add key="LineAdImageWidth" value="1.1811" />
    <add key="LineAdImageDpi" value="300" />
    <add key="FileAppendMaxRetry" value="5" />
    <add key="IsAveragePriceUsedForLineAd" value="False" />
    <add key="FacebookAppId" value="143183162513319" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=paramountit;AccountKey=NeNN2CwxKQtjWHec4mBBDA1Z7ZGeChmGRuvBfs0PxFIPyRUoF1Xt726KIPq2iprvPX69pwPfmtDSk1dMYungbg==" />
    <!--Module specific configuration-->
    <add key="Brand" value="TheMusic" />
    <!--Asp.Net settings-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <paramount>
    <services>
      <milieu context="local">
        <add key="BetterclassifiedsConnection" value="Data Source=localhost;Initial Catalog=iFlog;Integrated Security=True" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Integrated Security=True" />
      </milieu>
      <milieu context="test">
        <add key="BetterclassifiedsConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlog;User ID=AppUser;Password=Paramount01" />
        <add key="AppUserConnection" value="Data Source=paramountit.com.au;Initial Catalog=iFlogAppUser;User ID=AppUser;Password=Paramount01" />
      </milieu>
    </services>
    <dsl>
      <milieu context="local">
        <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DocumentStorage;Integrated Security=True" />
        <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
        <add key="IsServerImageCaching" value="true" />
        <add key="DefaultDslResolution" value="90" />
        <add key="ChunkLength" value="131072" />
      </milieu>
      <milieu context="test">
        <add key="ConnectionString" value="Data Source=paramountit.com.au;Initial Catalog=DocumentStorage;User ID=AppUser;Password=Paramount01" />
        <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
        <add key="IsServerImageCaching" value="true" />
        <add key="DefaultDslResolution" value="90" />
        <add key="ChunkLength" value="131072" />
      </milieu>
    </dsl>
    <broadcast>
      <milieu context="local">
        <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=Broadcast;Integrated Security=True" />
      </milieu>
      <milieu context="test">
        <add key="ConnectionString" value="Data Source=paramountit.com.au;Initial Catalog=Broadcast;User ID=AppUser;Password=Paramount01" />
      </milieu>
    </broadcast>
  </paramount>
  <modulesRegistration>
    <modules>
      <module name="PresentationModule" namespace="Paramount.Betterclassifieds.Presentation, Version=1.0.0.0, Culture=neutral" virtualpath="~/Presentation" physicalpath="../../Paramount.Betterclassifieds.Presentation" registerview="true" />
      <module name="DataServiceModule" namespace="Paramount.Betterclassifieds.DataService, Version=1.0.0.0, Culture=neutral" virtualpath="~/Presentation" physicalpath="../../Paramount.Betterclassifieds.DataService" registerview="false" />
    </modules>
  </modulesRegistration>
  <paypal BusinessEmail="support-facilitator@paramountit.com.au" SuccessUrl="http://paramountit.com.au/iflog/Booking/Success.aspx" CancelPurchaseUrl="http://paramountit.com.au/iflog/Booking/Step5.aspx" NotifyUrl="http://paramountit.com.au/iflog/payment/notify.aspx" SendToReturnURL="true" CurrencyCode="AUD" PayPalUrl="https://www.sandbox.paypal.com/cgi-bin/webscr" />
  <ccPaymentGateway gatewayUrl="https://transact.nab.com.au/test/hpp/payment" returnLinkText="Return to iFlog" returnLinkUrl="http://paramountit.com.au/iflog/Booking/Success.aspx" replyLinkUrl="http://paramountit.com.au/iflog/payment/notify.aspx" gstIncluded="TRUE" gstRate="10.00" paymentReference="7777" paymentAlertEmail="dejanvasic@outlook.com" vendorName="XYZ0010" refundPolicyUrl="http://paramountit.com.au/iflog/Terms.aspx" />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />fg
      </system.Web>
  -->
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="Paramount.ApplicationBlock.Mvc" />
        <add namespace="Paramount" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <httpRuntime maxRequestLength="10000" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages theme="iflog" smartNavigation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="paramountIt" namespace="BetterclassifiedsCore.UI" assembly="BetterclassifiedsCore" />
        <add tagPrefix="paramountIt" namespace="BetterclassifiedsWeb.Controls.Booking" assembly="BetterclassifiedsWeb" />
        <add tagPrefix="paramountIt" namespace="BetterclassifiedsWeb.Controls" assembly="BetterclassifiedsWeb" />
        <add tagPrefix="paramountIt" namespace="BetterClassified.UI" assembly="BetterClassified.UI" />
        <add tagPrefix="paramountIt" namespace="BetterclassifiedsWeb.Controls.Booking.ExpiredAds" assembly="BetterclassifiedsWeb" />
        <add tagPrefix="paramountItCommon" namespace="Paramount.Common.UI" assembly="Paramount.Common.UI" />
      </controls>
    </pages>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="~/Error/Default.aspx">
      <error statusCode="403" redirect="~/Error/AccessDenied.aspx" />
      <error statusCode="404" redirect="~/Error/NotFound.aspx" />
    </customErrors>
    <authorization>
      <allow users="*" />
    </authorization>
    <sessionState timeout="62" mode="InProc" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="Account/Login" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <roleManager cacheRolesInCookie="true" defaultProvider="AppUserRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="AppUserConnection" applicationName="BetterClassified" name="AppUserRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership defaultProvider="AppUserProvider">
      <providers>
        <clear />
        <add name="AppUserProvider" type="BetterClassified.UI.Framework.Security.ClassifiedSqlMembershipProvider, BetterClassified.UI, Version=1.0.0.0, Culture=neutral" connectionStringName="AppUserConnection" applicationName="BetterClassified" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" passwordFormat="Encrypted" minRequiredPasswordLength="6" />
      </providers>
    </membership>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
    <profile defaultProvider="ParamountITProfileProvider" enabled="true">
      <providers>
        <add name="ParamountITProfileProvider" type="Paramount.Betterclassified.Xavier.ProfileProvider.SqlTableProfileProvider" connectionStringName="AppUserConnection" table="UserProfile" applicationName="BetterClassified" profileVersion="1" />
      </providers>
      <properties>
        <add name="FirstName" type="System.String" defaultValue="[null]" customProviderData="FirstName;nvarchar" />
        <add name="LastName" type="System.String" defaultValue="[null]" customProviderData="LastName;nvarchar" />
        <add name="Address1" type="System.String" defaultValue="[null]" customProviderData="Address1;nvarchar" />
        <add name="Address2" type="System.String" defaultValue="[null]" customProviderData="Address2;nvarchar" />
        <add name="City" type="System.String" defaultValue="[null]" customProviderData="City;nvarchar" />
        <add name="State" type="System.String" defaultValue="[null]" customProviderData="State;nvarchar" />
        <add name="PostCode" type="System.String" defaultValue="[null]" customProviderData="PostCode;nvarchar" />
        <add name="Phone" type="System.String" defaultValue="[null]" customProviderData="Phone;nvarchar" />
        <add name="SecondaryPhone" type="System.String" defaultValue="[null]" customProviderData="SecondaryPhone;nvarchar" />
        <add name="Email" type="System.String" defaultValue="[null]" customProviderData="Email;nvarchar" />
        <add name="PreferedContact" type="System.String" defaultValue="[null]" customProviderData="PreferedContact;nvarchar" />
        <add name="BusinessName" type="System.String" defaultValue="[null]" customProviderData="BusinessName;nvarchar" />
        <add name="ABN" type="System.String" defaultValue="[null]" customProviderData="ABN;nvarchar" />
        <add name="Industry" type="System.Int32" defaultValue="[null]" customProviderData="Industry;int" />
        <add name="BusinessCategory" type="System.Int32" defaultValue="[null]" customProviderData="BusinessCategory;int" />
        <add name="ProfileVersion" type="System.Int32" defaultValue="[null]" customProviderData="ProfileVersion;int" />
      </properties>
    </profile>
    <httpHandlers>
      <add verb="*" validate="false" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add verb="*" path="Subscribe.axd" type="Paramount.Common.UI.Handlers.UnSubscribeHandler,Paramount.Common.UI" validate="false" />
      <add verb="*" path="SessionRefresher.ashx" type="Paramount.Common.UI.SessionRefresher, Paramount.Common.UI, Version=1.0.0.0, Culture=neutral" validate="false" />
      <add verb="*" path="Image/View.ashx" type="BetterClassified.UI.Handlers.DocumentHandler, BetterClassified.UI" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ParamountUtilities" type="Paramount.Betterclassified.Utilities.HttpModules.ApplicationInformationModule,  Paramount.Betterclassified.Utilities" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="ParamountClassifieds" type="Paramount.Common.UI.HttpModules.ApplicationSetupModule,  Paramount.Common.UI" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <location path="Booking/Success.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Booking/Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.RadUploadProgressHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="ParamountUtilities" type="Paramount.Betterclassified.Utilities.HttpModules.ApplicationInformationModule,  Paramount.Betterclassified.Utilities" />
      <add name="ParamountClassifieds" type="Paramount.Common.UI.HttpModules.ApplicationSetupModule,  Paramount.Common.UI" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ImageHandler" path="Image/View.ashx" verb="*" type="BetterClassified.UI.Handlers.DocumentHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="TelerikSpellChecker" verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
      <add name="TelerikRadUploader" verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
      <add name="Unsubscribe" verb="*" path="Subscribe.axd" type="Paramount.Common.UI.Handlers.UnSubscribeHandler,Paramount.Common.UI" />
      <add name="SessionRefresher" verb="*" path="SessionRefresher.ashx" type="BetterclassifiedsWeb.SessionRefresher, BetterclassifiedsWeb" />
      <add name="UnityPageHandlerFactory" verb="*" path="*.aspx" type="Paramount.ApplicationBlock.Mvc.Unity.UnityPageHandlerFactory" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Paramount\MailDrop\" />
      </smtp>
      <!--<smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogConnection" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>