<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AppUserConnection"
         connectionString="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>

    <add name="LogConnection"
         connectionString="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ConfigurationContext" value="TEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://test-iflog.paramountit.co.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DslCacheDirectory" value="C:\Paramount\WebImageMakerCache\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportGeneralEnquiry" value="dejanvasic@outlook.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportTechnical" value="dejanvasic@outlook.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportSalesBilling" value="dejanvasic@outlook.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportFeedback" value="dejanvasic@outlook.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="TEST">
        <add key="BetterclassifiedsConnection" value="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      </milieu>
    </services>
    <dsl>
      <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DocumentStorage;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="131072"/>
    </dsl>
    <broadcast>
      <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=Broadcast;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
    </broadcast>
  </paramount>

  <paypal xdt:Transform="Replace"
      BusinessEmail="support-facilitator@paramountit.com.au"
			SuccessUrl="http://test-iflog.paramountit.com.au/Booking/Success.aspx"
			CancelPurchaseUrl="http://test-iflog.paramountit.com.au/Booking/Step5.aspx"
			NotifyUrl="http://test-iflog.paramountit.com.au/payment/notify.aspx"
			SendToReturnURL="true" CurrencyCode="AUD"
			PayPalUrl="https://www.sandbox.paypal.com/cgi-bin/webscr"/>

  <ccPaymentGateway xdt:Transform="Replace"
      gatewayUrl="https://transact.nab.com.au/test/hpp/payment"
		  returnLinkText="Return to iFlog"
		  returnLinkUrl="http://test-iflog.paramountit.com.au/Booking/Success.aspx"
		  replyLinkUrl="http://test-iflog.paramountit.com.au/payment/notify.aspx"
		  gstIncluded="TRUE"
		  gstRate="10.00"
		  paymentReference="7777"
		  paymentAlertEmail="dejanvasic@outlook.com"
		  vendorName="XYZ0010"
		  refundPolicyUrl="http://test-iflog.paramountit.com.au/Terms.aspx" />

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="paramountits@gmail.com">
        <network host="smtpcorp.com" port="2525" userName="support@paramountit.com.au" password="rs-101" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>