
<div class="user-menu">
    <ul>
        <li>
            <a href="@Url.Action("Details", "Account")">
                <i class="fa fa-th-list fa-5x icon-padded"></i>
                <span class="menu-item-text">Account Details</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ChangePassword", "Account")">
                <i class="fa fa-edit fa-5x icon-padded"></i>
                <span class="menu-item-text">Change Password</span>
            </a>
        </li>
    </ul>
</div>