@using Paramount
@model Paramount.Betterclassifieds.Presentation.ViewModels.UserDetailsEditView

@{
    ViewBag.Title = "Update my Details";
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
}

<h2>Update my Details</h2>

