@model Paramount.Betterclassifieds.Presentation.ViewModels.LoginOrRegisterModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
    ViewBag.Title = "Login to Classifieds";
}


@if (!ViewData.ModelState.IsValid)
{
    var errors = ViewData.ModelState.Values.SelectMany(m => m.Errors).Select(e => e.ErrorMessage);

    foreach (var error in errors)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>OH Snap!</strong> <span>@error</span>
        </div>
    }
}

<div class="row">
    <div class="col-md-6">
        <div class="well">
            @Html.Partial("_LoginPartial", Model.LoginViewModel)
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            @Html.Partial("_RegisterPartial", Model.RegisterViewModel)
        </div>
    </div>
</div>