@using Paramount
@model dynamic

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
    ViewBag.Title = "Manage my Ads";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_UserMenu")
    </div>
</div>

<h1 class="page-header">Manage your ads</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-lg" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> All Ads
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Current
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Scheduled
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Expired
            </label>
        </div>
    </div>
</div>