@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
    ViewBag.Title = "Login to Classifieds";
}

<div class="container-fluid container-body">
    <div class="row">
        <div class="col-xs-12">
            <h2>Thank you for signing up</h2>
            <p>
                For security reasons we need to know that your email address is real
                and belongs to you.
            </p>
            <div class="alert alert-info">
                <p>
                    Please click on the confirmation link sent to your email and you
                    will be able to start using your account!
                </p>
            </div>
        </div>
    </div>
</div>