@color_primary : #008cba;

.userads-cmd-panel {
    a, a:hover {
        color: #fff;
    }    
}

.alert-warning{
    background-color: #c27802;
}

.event-ticket-management {
    span {
        &.badge {
            color : #fff;
            background-color: @color_primary;
        }
    }
}