@color_primary: #008cba;
@color_secondary: #fafafa;

html {
    font-size: 12px;
}

body {
    font-size: 17px;
}

.userads-cmd-panel {
    a, a:hover {
        color: #fff;
    }
}

.alert-warning {
    background-color: #c27802;
}

.event-dashboard {
    span {
        &.badge {
            color: #fff;
            background-color: @color_primary;
        }
    }
}

/*
    Event details
*/
.event-details {
    .event-title {
        background-image: linear-gradient(to bottom,#0079a1 0,#008cba 100%);
    }
}


/*
    home featured
*/

.home-featured {
    background-color: @color_secondary;

    .col-item {
        border: 1px solid #E1E1E1;

        .separator {
            border-top: 1px solid #E1E1E1;
        }
    }
}

/*
    Listing results
*/
.listing-results {
    .list-group-item {
        font-size: 1.2em;
    }
}

/*
    Footer
*/
.footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

/*
    User networking
*/
#userNetwork {
    .list-group-item {
        span {
            font-size: 16px;
        }
    }
}
