<div class="footer">
    <table width="100%">
        <tr>
            <td class="aligncenter content-block">
                Follow SriLankanEvents on
                <a href="https://facebook.com/SriLankanEventsInAustralia">Facebook</a>
            </td>
        </tr>

        <tr>
            <td class="aligncenter content-block">
                <em>Copyright &copy; @DateTime.Today.Year SriLankanEvents, All rights reserved.</em>
                <br />
                <em>
                    This is an automated email sent by SriLankanEvents. If you believe that you are not the recipient for this
                    email, please ignore.
                </em>
            </td>
        </tr>

    </table>
</div>