<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
    <tr>
        <td valign="top" class="footerContent" mc:edit="footer_content00">
            <a href="https://twitter.com/kandobay">
                Follow on Twitter
            </a>&nbsp;&nbsp;&nbsp;
            <a href="https://facebook.com/kandobayoz">
                Follow on Facebook
            </a>&nbsp;&nbsp;&nbsp;
            <a href="https://plus.google.com/114892609202144651161">
                Follow on Google+
            </a>&nbsp;&nbsp;&nbsp;
            <a href="http://blog.kandobay.com.au">
                Follow our Blog
            </a>&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
            <em>Copyright &copy; @DateTime.Today.Year KandoBay, All rights reserved.</em>
            <br/>
            <em>
                This is an automated email sent by KandoBay
            </em>
            <br />
            <em>
                If you believe that you are not the recipient for this
                email, please ignore.
            </em>
        </td>
    </tr>
    @*<tr>
        <td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content02">
            <a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
        </td>
    </tr>*@
</table>