<div class="footer">
    <table width="100%">
        <tr>
            <td class="aligncenter content-block">
                Follow KandoBay on
                <a href="https://twitter.com/kandobay">Twitter</a>
                | <a href="https://facebook.com/kandobayoz">Facebook</a>
                | <a href="https://plus.google.com/114892609202144651161">Google+</a>
                | <a href="http://blog.kandobay.com.au">Blog</a>

            </td>
        </tr>

        <tr>
            <td class="aligncenter content-block">
                <em>Copyright &copy; @DateTime.Today.Year KandoBay</em>
                <br />
                <em>
                    This is an automated email sent by KandoBay. If you believe that you are not the recipient for this
                    email, please ignore.

                </em>

            </td>
        </tr>

    </table>
</div>