@model Paramount.Betterclassifieds.Presentation.ViewModels.Email.EventOrganiserInviteViewModel

@{
    Layout = "~/Views/Email/_EmailMaster.cshtml";
}

<p>
    You have been kindly invited by <strong>@Model.FullName</strong> to
    be an organiser for the event:
    <br />
    <a href="@Model.EventUrl" target="_blank">
        <strong>@Model.EventName</strong>
    </a>
</p>

<p>
    To get started click the Accept Invite button.
</p>

<p>
    <a href="@Model.AcceptInvitationUrl" class="btn-primary" itemprop="url">Accept Invite</a>
</p>