@model Paramount.Betterclassifieds.Presentation.ViewModels.Email.EventOrganiserIdentityConfirmationEmail

@{
    Layout = "~/Views/Email/_EmailMaster.cshtml";
}

<p>
    Hi, <strong>@Model.Name &lt;@Model.Email&gt;</strong>
    would like to confirm their identity. Their documents should be attached
    to this email.
</p>
