@using Paramount.Betterclassifieds.Presentation.ViewModels.Email

@model ForgotPasswordEmail

@{
    Layout = "~/Views/Email/_EmailMaster.cshtml";
}


<p>
    Hello <strong>@Model.Email</strong>
</p>

<p>
    Forgot your password? Don't worry, we have you covered. You have a new password
    below, just make sure you reset it as soon as you login.
</p>

<p>
    Your new password is: <strong>@Model.NewPassword</strong>
</p>

<p>
    <a class="btn-primary" href="@Model.LoginUrl">Login</a>
</p>

<p>
    If you did not request the password, please contact our team immediately.
</p>