<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppUserConnection"
         connectionString="Data Source=111.67.15.17;Initial Catalog=UAT-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ConfigurationContext" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DslImageUrlHandler" value="http://localhost/Dsl/ImageHandler.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="Test">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="BetterclassifiedsConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-iFlog-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />
        <add key="ParamountLogConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-ParamountLog-v106;Persist Security Info=True; User ID=sa; Password=spress"/>

        <add key="dslService" value="http://localhost/Nodes/DslService.svc" credential="CPPc8esPS4A="/>
        <add key="broadcastService" value="http://localhost/NodesBroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="accountProfileService" value="http://localhost/NodesUserAccountWebService.svc" credential="CPPc8esPS4A="/>
        <add key="logService" value="http://localhost/Nodes/LogService.svc" credential="CPPc8esPS4A="/>
        <add key="billingService" value="http://localhost/Nodes/BillingService.svc" credential="CPPc8esPS4A="/>
      </milieu>
    </services>
    <membership>
      <milieu context="Test">
        <add key="AppUserConnection" value="Data Source=111.67.15.17;Initial Catalog=UAT-AppUser-v106;Persist Security Info=True; User ID=sa; Password=spress" />
      </milieu>
    </membership>
    <dsl>
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="True" />
      <add key="ImageHandlerUrl" value="http://localhost/Dsl/ImageHandler.ashx" />
      <add key="DefaultDslResolution" value="90" />
    </dsl>
  </paramount>
  
</configuration>