<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppUserConnection"
         connectionString="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>

    <add name="LogConnection"
         connectionString="Data Source=localhost;Initial Catalog=iFlogLogs;Persist Security Info=True; User ID=AppUser; Password=Paramount01"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ConfigurationContext" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DslImageUrlHandler" value="http://test-iFlog.paramountit.com.au/Image/View.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="Test">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="BetterclassifiedsConnection" value="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />

        <add key="broadcastService" value="http://test-iflogservices.paramountit.com.au/Nodes/BroadcastWebService.svc" credential="CPPc8esPS4A="/>
        <add key="accountProfileService" value="http://test-iflogservices.paramountit.com.au/Nodes/UserAccountWebService.svc" credential="CPPc8esPS4A="/>
        <add key="billingService" value="http://test-iflogservices.paramountit.com.au/Nodes/BillingService.svc" credential="CPPc8esPS4A="/>
      </milieu>
    </services>
    <membership>
      <milieu context="Test">
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      </milieu>
    </membership>
    <dsl>
      <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=iFlogCore;Persist Security Info=True; User ID=AppUser; Password=Paramount01" />
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="32768"/>
    </dsl>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
</configuration>