<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppUserConnection"
         connectionString="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>
    <add key="ConfigurationContext" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <paramount xdt:Transform="Replace">
    <services>
      <milieu context="CI">
        <add key="WebServiceCredential" value="CPPc8esPS4A="/>
        <add key="BetterclassifiedsConnection" value="Data Source=localhost;Initial Catalog=iFlog;Persist Security Info=True; User ID=sa; Password=rs-101" />
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101" />
      </milieu>
    </services>
    <membership>
      <milieu context="CI">
        <add key="AppUserConnection" value="Data Source=localhost;Initial Catalog=iFlogAppUser;Persist Security Info=True; User ID=sa; Password=rs-101" />
      </milieu>
    </membership>
    <dsl>
      <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DocumentStorage;User ID=sa; Password=rs-101"/>
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="32768"/>
    </dsl>
  </paramount>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
</configuration>