<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cmsConfig" type="WebContent.SimpleCms.CmsConfigSectionHandler, WebContent.SimpleCms" />
    <sectionGroup name="paramount">
      <section name="dsl" type="Paramount.ApplicationBlock.Configuration.ConfigurationSectionHandler,Paramount.ApplicationBlock.Configuration" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ClassifiedConnection" connectionString="Data Source=localhost;Initial Catalog=Classifieds;Integrated Security=True" />
    <add name="AppUserConnection" connectionString="Data Source=localhost;Initial Catalog=AppUser;Integrated Security=True" />
    <add name="LogDbConnection" connectionString="Data Source=localhost;Initial Catalog=Logs;Integrated Security=True" />
    <add name="BroadcastConnection" connectionString="Data Source=localhost;Initial Catalog=Broadcast;Integrated Security=True" />
    <add name="DocumentConnection" connectionString="Data Source=localhost;Initial Catalog=DocumentStorage;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="local" />
    <add key="ConfigurationContext" value="local" />
    <add key="ApplicationName" value="iFlog Admin" />
    <add key="Version" value="{version}" />
    <add key="WebAdSpaces" value="True" />
    <add key="ClientCode" value="P000000005" />
    <add key="NewsletterSubscribersHandler" value="http://localhost:50264/" />
    <add key="DslImageUrlHandler" value="~/Booking.adphoto" />
    <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
    <add key="DslThumbWidth" value="80" />
    <add key="DslThumbHeight" value="80" />
    <add key="DslDefaultResolution" value="90" />
    <add key="LineAdImageHeight" value="1.10236" />
    <add key="LineAdImageWidth" value="1.1811" />
    <add key="LineAdImageDpi" value="300" />
    <add key="DefaultDaoFactory" value="LinqDao" />
  </appSettings>
  <paramount>
    <dsl>
      <add key="ImageCacheDirectory" value="C:\Paramount\ImageCache" />
      <add key="IsServerImageCaching" value="true" />
      <add key="DefaultDslResolution" value="90" />
      <add key="ChunkLength" value="32768" />
    </dsl>
  </paramount>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages theme="blue" styleSheetTheme="blue" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="paramountIt" namespace="BetterClassified.UI" assembly="BetterClassified.UI" />
        <add tagPrefix="paramountItCommon" namespace="Paramount.Common.UI" assembly="Paramount.Common.UI" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="BCACookie" slidingExpiration="true" timeout="30" loginUrl="Login.aspx" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="Default.aspx" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <!--Image Handler-->
      <add verb="*" path="*.adphoto" type="BetterClassified.UI.Handlers.DocumentHandler" />
    </httpHandlers>
    <httpModules>
      <add name="ParamountClassifieds" type="Paramount.Common.UI.HttpModules.ApplicationSetupModule,  Paramount.Common.UI" />
      <add name="ParamountUtilities" type="Paramount.Betterclassified.Utilities.HttpModules.ApplicationInformationModule,  Paramount.Betterclassified.Utilities" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <!-- setting session state to make global.asax online counter to work allowCustomSqlDatabase="true" sqlConnectionString="Local"-->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <!-- ***********************************************
            SQLMembership Provider
            Add a customized SqlMembershipProvider
            Note: the second provider is used by admin to be able to reset user passwords
        -->
    <membership defaultProvider="UserAdminMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="CustomerMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AppUserConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="BetterClassified" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" />
        <add name="UserAdminMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AppUserConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="BetterClassifiedAdmin" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <!-- ************************************************
            SQLMembership Roles Provider 
        -->
    <roleManager enabled="true" defaultProvider="AdminRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="BetterClassifiedAdmin" connectionStringName="AppUserConnection" name="AdminRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="BetterClassified" connectionStringName="AppUserConnection" name="CustomerRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <profile defaultProvider="UserAdminProfileProvider" automaticSaveEnabled="false">
      <providers>
        <clear />
        <add name="CustomerProfileProvider" type="Paramount.Betterclassified.Xavier.ProfileProvider.SqlTableProfileProvider" connectionStringName="AppUserConnection" table="UserProfile" applicationName="BetterClassified" profileVersion="1" />
        <add name="UserAdminProfileProvider" connectionStringName="AppUserConnection" applicationName="BetterClassifiedAdmin" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <add name="FirstName" type="System.String" defaultValue="[null]" customProviderData="FirstName;nvarchar" />
        <add name="LastName" type="System.String" defaultValue="[null]" customProviderData="LastName;nvarchar" />
        <add name="Address1" type="System.String" defaultValue="[null]" customProviderData="Address1;nvarchar" />
        <add name="Address2" type="System.String" defaultValue="[null]" customProviderData="Address2;nvarchar" />
        <add name="City" type="System.String" defaultValue="[null]" customProviderData="City;nvarchar" />
        <add name="State" type="System.String" defaultValue="[null]" customProviderData="State;nvarchar" />
        <add name="PostCode" type="System.String" defaultValue="[null]" customProviderData="PostCode;nvarchar" />
        <add name="Phone" type="System.String" defaultValue="[null]" customProviderData="Phone;nvarchar" />
        <add name="SecondaryPhone" type="System.String" defaultValue="[null]" customProviderData="SecondaryPhone;nvarchar" />
        <add name="Email" type="System.String" defaultValue="[null]" customProviderData="Email;nvarchar" />
        <add name="PreferedContact" type="System.String" defaultValue="[null]" customProviderData="PreferedContact;nvarchar" />
        <add name="BusinessName" type="System.String" defaultValue="[null]" customProviderData="BusinessName;nvarchar" />
        <add name="ABN" type="System.String" defaultValue="[null]" customProviderData="ABN;nvarchar" />
        <add name="Industry" type="System.Int32" defaultValue="[null]" customProviderData="Industry;int" />
        <add name="BusinessCategory" type="System.Int32" defaultValue="[null]" customProviderData="BusinessCategory;int" />
        <add name="NewsletterSubscription" type="System.Boolean" defaultValue="[null]" customProviderData="NewsletterSubscription;bit" />
        <add name="ProfileVersion" type="System.Int32" defaultValue="[null]" customProviderData="ProfileVersion;int" />
      </properties>
    </profile>
    <siteMap defaultProvider="XmlSiteMapProvider">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ParamountUtilities" type="Paramount.Betterclassified.Utilities.HttpModules.ApplicationInformationModule,  Paramount.Betterclassified.Utilities" />
      <add name="ParamountClassifieds" type="Paramount.Common.UI.HttpModules.ApplicationSetupModule,  Paramount.Common.UI" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />      
      <add name="ImageHandler" verb="*" path="*.adphoto" type="BetterClassified.UI.Handlers.DocumentHandler" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LogDbConnection" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>