
@*This layout inherits the application layout and ads a quick search (with some scripts)*@

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

@section QuickSearch{
    @*Quick Search Bar*@
    <div class="row">
        <form role="form" method="POST" action="@Url.Action("Search")">
            <div class="col-sm-5">
                <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" placeholder="Keyword or Ad ID">
            </div>
            <div class="col-sm-5">
                <select name="searchCategoryId" id="searchCategoryId" class="form-control js-parentCategories"></select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-block">Search</button>
            </div>
        </form>
    </div>
}

@RenderBody()


@section Scripts{
    
    @*JQuery script for loading the quick search categories*@
    <script type="text/javascript">
        (function ($) {
            $().ready(function () {
                @*Load categories via http json*@
                $.getJSON("@Url.Action("GetTopLevel", "Categories")").done(function (data) {
                    var $categorySelect = $('.js-parentCategories');
                    $categorySelect.empty();
                    $.each(data, function (index, value) {
                        $categorySelect.append('<option value="' + value.CategoryId + '">' + value.CategoryName + '</option>');
                    });
                });

            });
        })(jQuery);
    </script>
    
    @RenderSection("scripts")
}