@*Navbar*@
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">The Classies</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index", "Home")">Explore</a></li>
                <li><a href="@Url.Content("~/Rates.aspx")">Rates</a></li>
                <li><a href="#">Deadlines</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">My Account</a></li>
                <li><span>&nbsp;&nbsp;</span></li>
                <li><a href="#">The Music Home</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>