@using Paramount
@model dynamic

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container-fluid container-body left-buffer-20">
    <h1>404 - not found!</h1>
    <p>The ad your looking for has either expired or never existed.</p>
    <p>If this was a link from our home page or search results please let us know and we'll get that sorted out. Thanks.</p>
</div>