@model dynamic

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<div class="container top-buffer-60">
    <h1>404 - not found!</h1>
    <p>The ad your looking for has either expired or never existed.</p>
    <p>If this was a link from our home page or search results please let us know and we'll get that sorted out. Thanks.</p>
</div>