@using Paramount

@model List<AdSummaryViewModel>

<div class="list-group listing-results">
    @if (Model.IsNullOrEmpty())
    {
        <div class="well">
            Oh No! There are no results to display. If you were doing a search, try to relax the filters and try again.
        </div>
    }

    @foreach (var ad in Model)
    {
        @Html.Partial("_AdSummary" + ad.CategoryAdType, ad)
    }
</div>
