@using Paramount

@model Paramount.Betterclassifieds.Presentation.ViewModels.AdViewModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>
